@import '../../../../assets/css/_tools/variable';
@import '../../../../assets/css/_tools/mixins';
@import '../../../../core-pages/pricing/css/pricing-page';

#pricing.pricing-section--home {
    padding: $gap80 0;
    background: $blue500;
    background-image: none;

    @include media($tablet) {
        padding: $gap60 $gap16;
    }

    @include media($mobile) {
        padding: $gap40 $gap16;
    }

    @include pricing-section;

    .pricing-header__pills {
        background-color: #1A1C1E3D;
    }
}
