@import '../../../../assets/css/_tools/variable';
@import '../../../../assets/css/_tools/mixins';

#grid-cont{
    width: 100%;
    margin-bottom: $gap * 10;
    overflow-y: scroll;

    @include media($tablet){
        overflow-y: auto;
    }
    @include media($mobile){
        overflow-y:inherit;
        margin: 0 auto;
        margin-bottom: $gap * 8;
    }
}

.grid {
    margin: 0 auto;
    max-width: 1320px;
    display: grid;

    @include media($tablet){
        overflow-y: auto;
        padding-top: $gap * 2;

    }

    &.set1{
        padding-top: $gap * 6;

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: $gap + 6;
        grid-row-gap: $gap + 6;

        .grid-item:nth-child(1) {
            grid-area: 1 / 2 / 2 / 5;
        }
        .grid-item:nth-child(2) {
            grid-area: 1 / 1 / 3 / 2;
            width: 320px;
            height: 690px;
        }
        .grid-item:nth-child(3) {
            grid-area: 1 / 5 / 2 / 6;
            width: 310px;
        }
        .grid-item:nth-child(4) {
            grid-area: 2 / 2 / 3 / 3;
            width: 312px;
        }
        .grid-item:nth-child(5) {
            grid-area: 2 / 3 / 3 / 6;
        }

        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }

        @include media(1350px){
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            padding: $gap * 2 $gap + 6;

            .desktop{
                display: none;
            }
            .mobile{
                display: block;
            }
            
            &>.grid-item{
                flex: 1;
                height: 280px !important;
                width: 33.33%;
                
                img{
                    width: auto;
                    height: 280px;
                }

                &:nth-child(2),
                &:nth-child(5){ display: none;}
                label{
                    height: 280px !important;
                    display: block;
                    width: 100% !important;                    
                }                
            }
            
            
        }  
        
        @include media(1290px){
            width: 1290px;
            &>.grid-item{
                width: 370px !important;                
            }
        }

         @include media($mobile){
            width: 100%;
            margin: 0 auto;
            padding: $gap * 2 0 ;
            display: block;
            &>.grid-item{
                margin: 0 auto;
                margin-bottom: $gap * 2 + 4;
            }
            
         }

         /*
          @include media(480px){
             &>.grid-item{
                width: 100% !important;
                img{
                    width: 100% !important;
                    height: auto;       
                }
             } 
          }

          */


    }
}


/* grid set 1 */
.set1{
    [class*="grid-"]{
        height: 330px;
        border-radius: 8px;
        i{
            bottom:$gap * 4; right: $gap * 4;
            position: absolute;            
        }
    }

}



/* Each card container */
.card {
  width: 200px;
  height: 130px;
  perspective: 1000px;
  cursor: pointer;
  display: inline-block;

}

/* Hide the checkbox */
.card input {
  display: none;
}

/* Inner wrapper */
.card-inner {  
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Flip on toggle */
.card input:checked ~ .card-inner {
  transform: rotateY(180deg);
}

/* Front & Back common styles */
.card-front,
.card-back {  
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  position: absolute;
    &>span{
        top: 0; left: 0;
        display: block;
        position: absolute;
        padding: $gap * 4;
        strong{
            color: $cyan;
        }
    }
}

/* Back (new element) */
.card-back {
  transform: rotateY(180deg);
}


#card-item-1{
    width: 658px;
    height: 330px;
    line-height: 39px;

    .card-front,
    .card-back {
        color:$white;
        span{
            width: 390px;
            font-size: $fsize32;
            @include media($mobile){
                width: 100%;
                font-size: $fsize28;
            }
        }        
    }
}

#card-item-3,
#card-item-4{
    width: 310px;
    height: 330px;
}

#card-item-3{    
    .card-front,
    .card-back {
        color: $gray300;
        font-size: $fsize20;
        background: $white;
        font-weight: $fRegular;
    }
}

#card-item-4{
    .card-front,
    .card-back {
        color: $gray300;
        font-size: $fsize20;
        background: $yellow75;
        font-weight: $fRegular;

        strong{
            color: $orange;
        }
    }
}
