@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

.articles-posts,
.recent-articles,
.latest-articles{
    text-align: left;

    section{
        padding: $gap80 0;
        &:nth-child(even){
            background: $white;
        }
    }

    a{
        color: $blue300;
        text-decoration: none;
    }

    .heading{
        margin-bottom: 0;

        display: flex;
        align-items: center;

        h2{
            flex: 1;
            
        }

    }

    @include media($mobile){
        &>.container{
            padding: 0;
        }
    }

    .cards{
        
        &>div:nth-child(even){
            background: $gray300;
        }
        .card-cont{
            &>div{
                padding: 0;
            }
            /*
            &.con>div{
                padding: 0;
            }
            */
        }
    } 

    .featured-image{
        margin: 0;
        display: block;
        height: 300px;
        overflow: hidden;
        
        @include media($mobile){
            height: auto;
            margin-bottom: $gap10;
        }
    }
    
    .articles-info{
        padding:$gap20;
        gap: $gap20;
        display: flex;
        flex-direction: column;
     
        h4,.read-time,.category{
            margin: 0;
            // /margin-bottom: -$gap10;
        }
        h4 a{
            color: $gray300;
            font-size: 18px;
            text-decoration: none;
            
            @include ellipsis(2);
        }
        
        .category{
            a{                
                color: $blue300;
                font-size: $fsize12;
                font-weight: $fSemiBold;
                text-transform: uppercase;
                text-decoration: none;
            }
            
        }
        
        .read-time{
            color:$gray300;
            font-size: $fsize12;
        }
        .description{
            color: $gray300;
            font-size: $fsize14;
            @include ellipsis(3);
        }
        .btn{
            display: block;
        }
        
    }
}

body.blog{
    .latest-articles {
        .cards{
            margin-bottom: 0;
         
            
            &.card-cont{
                padding: 0;
            }
        }
        .heading{
            text-align: left;
            padding-bottom: $gap40;
            margin: 0;
        }

        section{
            padding: $gap40 0;
        }

    }
}