@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

body.blog{

  .heading{
    margin-bottom: 0;
    padding-bottom: $gap40;
  }

  .search{
    display: block;
      margin: 0 auto;
      max-width: 500px;
      position: relative;

      @include media($tablet){
        margin: 0 $gap20;
        max-width: 100%;
      }
      
      svg{
        top: 0;
        left: 10px;
        bottom: 0;
        right: auto;
        width: 24px;
        height: 24px;
        margin: auto;
        position: absolute;
      }
      
      input[type="text"],
      input[type="search"]{
        padding: $gap10 $gap10 $gap10 $gap40;
        background: $white;
        border-radius: $corners8;
        border: 1px solid $gray75;

         
        
      }

      input[type="submit"]{
        display: none;
      }
  }

  
  .cols{
        gap: $gap40;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        @include media($mobile){
            display: block;
        }

        &>div{
            padding: 0;
            margin: 0;    
        }
        &.cols2{
            &>div{
                flex: 1;            
            } 
        }
        
    }

  .cards img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .recent-articles{
    padding-bottom: $gap40;
    background: $white;
    .cards{
      margin-bottom: 0;
    }
  }

}