
@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

body.category,
body.search{

    /* Limit excerpt description to a maximum of 4 lines for the grid layout */
    .post-excerpt-4-lines {
        /* Required for line clamping to work */
        display: -webkit-box;
        -webkit-box-orient: vertical;

        /* Set the maximum number of lines */
        -webkit-line-clamp: 4; 
        
        /* Hide the text that exceeds the limit */
        overflow: hidden; 

        /* Add space below the excerpt */
        margin-bottom: 1rem;
    }

    /* Optional: Ensure post thumbnails don't break the aspect ratio in the card */
    .post-thumbnail-container img.card-img-top {
        width: 100%;
        height: 200px; /* Adjust height as needed */
        object-fit: cover; /* Ensures image covers the area without distortion */
    }

    .row{
        gap:$gap30;
        display: flex;
        flex-wrap: wrap;

        .col{
            padding: $gap20;
            width: 31.3%;
            background: $white;
            position: relative;

            @include media($tablet){
                width: 48%;
            }

            @include media($mobile){
                width: 100%;
            }
        }
    }

    a{
        text-decoration: none;
    }

    #primary{
         
        header{
            padding: $gap20;
            border-bottom: 0;
            background: transparent;
        }

        h1{
            font-size: $fsize20;
        }
        .card-footer a{
            color: $blue300;
            left: $gap20;
            bottom:$gap20;
            position: absolute;
        }
        .entry-summary{
            padding-bottom: $gap40;
        }
    }
    
    h4{
        margin-bottom: $gap40;
        &>span{
            color: $blue300;
        }
    }
}
