@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

body.single{

// border: 10px solid red;

    #primary{
        // display: flex;
        // flex-direction: row;

        @include media($mobile){
            
            flex-direction: column;
        }

        
        main{
            
            @include media($mobile){
                padding: $gap10;
            }

            .entry-meta{
                padding-bottom: $gap20;
            }

            .post-thumbnail{
                padding-bottom: $gap20;
            }
        }
    }

    #sidebar{
        flex:1 0 300px;
        padding: $gap20;

        @include media($mobile){
            display: none;
        }

       
        h2{
            font-size: $fsize24;
        }

        #search{
            margin-bottom: $gap20;
            padding-bottom: $gap20;
            border-bottom: 1px solid $gray100;
            margin-bottom: $lineColor;

            input[type="text"]{
                padding: $gap10 $gap20;
                background: $white;
                border: 1px solid $lineColor;
                margin-bottom: $gap20;
            }

            input[type="submit"]{
                padding: $gap10 $gap20;
                color: #FFFFFF;
                background: #4F51FD;
                border: 1px solid #4F51FD;
                transition: all 0.3s 
                ease 0s;
            }
        }
        
        li{
            list-style: none;
            line-height: 30px;
        }
    }

    article{
       
        h1{
            font-size: $fsize32;
        }

        [class*="-banner"]{
            width: 100%;
            height: 360px;
            overflow: hidden;
            position: relative;
            
            @include media($tablet){
                height: 8uto;
            }

             &:after{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                top:0; left: 0;
                position: absolute;
                background: rgba(0,0,0,.9);
            }

            &>div:first-child{
                top: 0;
                left: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                position: absolute;

                display: flex;
                align-items: center;
                justify-content: center;

          
            }

            .box{
                color: #fff;
                padding: 20px;
                max-width: 50%;
                text-align: center;
                // background: rgba($color: #000000, $alpha: 0.5);

                 
                @include media($tablet){
                    max-width: 90%;
                }

              
            }
            &>span{
                display: block;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        /* PublishPress Authors styles */
        .reviewer-user{
                
            font-size: 14px;
            
            &>div{
                max-width: 500px;
                margin: 0 auto;
                
            }
        
            img{
                max-width: 100%;
            }
            
            a{
                color: #fff !important;
                text-decoration: underline;
            }

            ul{
                margin: 0;
                padding: 0;
            }

            .ppma-author-category-wrap>span{
                display: block;
                max-width: 420px;
                margin: 0 auto;
                @media (max-width: 486px) {
                    width: 340px;
                }
            }

            .pp-multiple-authors-layout-simple_list ul li{
                padding: 0 !important;
                margin: 0 !important;
            }

            /* overwrite styles */
            .pp-author-boxes-avatar-details{
                width: 586px;

                @media (max-width: 486px) {
                    width: 300px;
                }
            }

            .pp-multiple-authors-boxes-wrapper.pp-multiple-authors-layout-boxed.multiple-authors-target-shortcode .pp-multiple-authors-boxes-li{
                border-width: 0 !important;
            }

            .pp-multiple-authors-boxes-wrapper.pp-multiple-authors-layout-inline.multiple-authors-target-shortcode{
                
                .pp-author-boxes-name{
                    font-weight: bold;

                    
                }

                .pp-author-boxes-avatar{
                    margin-right: 10px;
                    img{
                        display: block;
                        width: 100px !important;
                        height: auto !important;
                        overflow: hidden;
                        background: #fff;
                        border-radius: 50% !important;
                    }
                
                    a{
                        padding: 5px;
                        width: 60px;
                        height: 60px;
                    }
            
                }

                .pp-multiple-authors-boxes-li{
                    color: #b1b1b1 !important;
                    text-align: left;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }


            
        }
        
        .author-user{
            max-width: 500px;
            font-size: 12px;
            margin: 10px auto;
            color: #b1b1b1 !important;
            

            .written-by{
                width: 420px;
                margin: 0 auto;
                padding-left: 68px;
                @media (max-width: 486px) {
                    width: 340px;
                }
            }

            .ppma-author-category-wrap{
                display: flex;
                max-width: 420px;
                margin: 0 auto;
                gap: 5px;
            }
            
            span{
                display: flex;
            }
            
            a{
                color: #fff !important;
                text-decoration: underline;
            }

            .article-heroshot .wrapper{
                text-align: left;
            }
            .pp-multiple-authors-layout-simple_list ul {
                
                li{
                    float: left;
                }
            }

            .pp-multiple-authors-layout-simple_list ul li,
            .pp-multiple-authors-boxes-wrapper.pp-multiple-authors-layout-simple_list .pp-multiple-authors-boxes-ul li{
                border: 0 !important;
                padding: 0 !important;
                min-height: auto !important;
                line-height: normal !important;
            }
        }
    }
}
