@import "../../../assets/css/_tools/variable";
@import "../../../assets/css/_tools/mixins";

.custom-whitepaper-hero {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: $gap100 0;


  @include media($tablet) {
    padding: $gap60 $gap20;
  }

  @include media($mobile) {
    padding: $gap40 $gap20;
  }

  &__inner {
    position: relative;
    z-index: 1;
    max-width: 1098px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;

    &:has(.custom-whitepaper-hero__row--no-image) {
      margin-bottom: 0;
    }

    @include media($tablet) {
      flex-direction: column;
      gap: $gap24;
      margin-bottom: $gap40;

      &--default {
        margin-bottom: 0;
      }
    }

    &--gated {
      .custom-whitepaper-hero__content {
        max-width: 588px;

        @include media($tablet) {
          max-width: 100%;
        }
      }

      .custom-whitepaper-hero__form {
        flex: 1;
      }
    }

    &--ungated {
      .custom-whitepaper-hero__content {
        max-width: 588px;

        @include media($tablet) {
          max-width: 100%;
        }
      }
    }

    &--default#{&}--no-image {
      margin-bottom: 0;
      .custom-whitepaper-hero__content {
        margin: 0 auto;
      }

    }

    &--default:not(#{&}--no-image) {
      max-width: 1120px;
      margin: 0 auto;
      width: 100%;
      
      .custom-whitepaper-hero__content {
        flex: 0 0 588px;
        max-width: 588px;

        @include media($tablet) {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }

      .custom-whitepaper-hero__image {
        max-width: 470px;
      }
    }
  }

  &__row--default .custom-whitepaper-hero__trust-gap.has-cta {
    margin-top: $gap24;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap40;
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    gap: $gap16;
  }

  // &__trust-gap {
  //   width: 100%;

  //   &.left {
  //     text-align: left;
  //   }

  //   &.center {
  //     text-align: center;

  //     .trust-gap-report-hero__intro {
  //       margin-left: auto;
  //       margin-right: auto;
  //     }

  //     .trust-gap-cta__row {
  //       justify-content: center;
  //     }
  //   }
  // }

  &__trust-gap-cta {
    display: flex;
    flex-direction: column;
    width: 100%;

    .custom-whitepaper-hero__trust-gap.center & {
      align-items: center;
    }

    .custom-whitepaper-hero__trust-gap.left & {
      align-items: flex-start;
    }
  }

  &__snippet {
    // display: inline-block;
    // width: fit-content;
    align-self: flex-start;
    font-size: $fsize14;
    font-weight: $fSemiBold;
    text-transform: uppercase;
    color: $blue300;
    padding: $gap8;
    border-radius: $corners4;
    background-color: $white;
    letter-spacing: 16%;
  }

  // &__details {
  //   color: $gray300;
  //   font-size: 16px;
  //   line-height: 1.5;
  //   margin: 0;

  //   @include media($mobile) {
  //     font-size: 14px;
  //   }

    h1, h2 {
      font-size: 48px;
      font-weight: $fBold;
      color: $gray300;

      @include media($mobile) {
        font-size: $fsize32;
      }
    }

  //   strong, b {
  //     color: $blue300;
  //   }

  //   p {
  //     margin: 0 0 $gap16 0;
  //     color: $gray300;

  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //   }
  // }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: $gap16;
  }

  &__cta {
    display: inline-flex;
    align-items: center;
    gap: $gap8;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap24;

    @include media($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media($mobile) {
      grid-template-columns: 1fr;
      gap: $gap16;
    }
  }

  &__card {
    background: $white;
    border-radius: $corners8;
    padding: $gap20;
    display: flex;
    flex-direction: column;
    gap: $gap16;
    

    .custom-whitepaper-hero__card-head {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .custom-whitepaper-hero__card-percent {
      font-size: $fsize40;
      font-weight: $fBold;

      @include media($mobile) {
        font-size: 32px;
      }
    }

    .custom-whitepaper-hero__card-desc {
      p {
        padding: 0;
      }
    }
  }
}

.custom-whitepaper-hero .trust-gap-report-hero__cta {
  display: flex;
  gap: $gap8;
  margin: 0 0 $gap40;
}

.custom-whitepaper-hero .trust-gap-cta__row {
  display: flex;
  gap: $gap24;
}

.custom-whitepaper-hero .trust-gap-cta__intro {
  font-size: $fsize18;
  padding: 0;
}

.custom-whitepaper-hero .trust-gap-cta__socials {
  display: flex;
}
