.grid{margin:0 auto;max-width:1320px;display:grid;grid-column-gap:16px;grid-row-gap:16px}.grid.set1{grid-template-columns:repeat(5, 1fr);grid-template-rows:repeat(2, 1fr)}.grid.set1 .grid-item:nth-child(1){grid-area:1/2/2/5}.grid.set1 .grid-item:nth-child(2){grid-area:1/1/3/2;width:320px}.grid.set1 .grid-item:nth-child(3){grid-area:1/5/2/6;width:310px}.grid.set1 .grid-item:nth-child(4){grid-area:2/2/3/3;width:312px}.grid.set1 .grid-item:nth-child(5){grid-area:2/3/3/6}.set1 [class*=grid-]{height:330px;color:green;border-radius:8px}.set1 [class*=grid-] i{bottom:40px;right:40px;position:absolute}.card{width:200px;height:130px;perspective:1000px;cursor:pointer;display:inline-block}.card input{display:none}.card-inner{width:100%;height:100%;position:relative;transform-style:preserve-3d;transition:transform .6s}.card input:checked~.card-inner{transform:rotateY(180deg)}.card-front,.card-back{width:100%;height:100%;border-radius:12px;-webkit-backface-visibility:hidden;backface-visibility:hidden;color:#fff;overflow:hidden;position:absolute}.card-front>span,.card-back>span{top:0;left:0;display:block;position:absolute;padding:40px}.card-front>span strong,.card-back>span strong{color:#3fc5fd}.card-back{transform:rotateY(180deg)}#card-item-1{width:658px;height:330px;line-height:39px}#card-item-1 .card-front,#card-item-1 .card-back{font-size:2em;color:#fff}#card-item-1 .card-front span,#card-item-1 .card-back span{width:390px}#card-item-3,#card-item-4{width:310px;height:330px}#card-item-3 .card-front,#card-item-3 .card-back{color:#1a1c1e;font-size:1.25em;background:#fff;font-weight:400}#card-item-4 .card-front,#card-item-4 .card-back{color:#1a1c1e;font-size:1.25em;background:#feebb6;font-weight:400}#card-item-4 .card-front strong,#card-item-4 .card-back strong{color:#ff4d00}* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
.grid {
  margin: 0 auto;
  max-width: 1320px;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.grid.set1 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid.set1 .grid-item:nth-child(1) {
  grid-area: 1/2/2/5;
}
.grid.set1 .grid-item:nth-child(2) {
  grid-area: 1/1/3/2;
  width: 320px;
}
.grid.set1 .grid-item:nth-child(3) {
  grid-area: 1/5/2/6;
  width: 310px;
}
.grid.set1 .grid-item:nth-child(4) {
  grid-area: 2/2/3/3;
  width: 312px;
}
.grid.set1 .grid-item:nth-child(5) {
  grid-area: 2/3/3/6;
}

/* grid set 1 */
.set1 [class*=grid-] {
  height: 330px;
  color: green;
  border-radius: 8px;
}
.set1 [class*=grid-] i {
  bottom: 40px;
  right: 40px;
  position: absolute;
}

/* Each card container */
.card {
  width: 200px;
  height: 130px;
  perspective: 1000px;
  cursor: pointer;
  display: inline-block;
}

/* Hide the checkbox */
.card input {
  display: none;
}

/* Inner wrapper */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Flip on toggle */
.card input:checked ~ .card-inner {
  transform: rotateY(180deg);
}

/* Front & Back common styles */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  position: absolute;
}
.card-front > span,
.card-back > span {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  padding: 40px;
}
.card-front > span strong,
.card-back > span strong {
  color: #3FC5FD;
}

/* Back (new element) */
.card-back {
  transform: rotateY(180deg);
}

#card-item-1 {
  width: 658px;
  height: 330px;
  line-height: 39px;
}
#card-item-1 .card-front,
#card-item-1 .card-back {
  font-size: 2em;
  color: #FFFFFF;
}
#card-item-1 .card-front span,
#card-item-1 .card-back span {
  width: 390px;
}

#card-item-3,
#card-item-4 {
  width: 310px;
  height: 330px;
}

#card-item-3 .card-front,
#card-item-3 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FFFFFF;
  font-weight: 400;
}

#card-item-4 .card-front,
#card-item-4 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FEEBB6;
  font-weight: 400;
}
#card-item-4 .card-front strong,
#card-item-4 .card-back strong {
  color: #FF4D00;
}

/*# sourceMappingURL=grid-layout.css.map */
