@import "../_tools/mixins";
@import "../_tools/buttons";

.cards{
    color: $gray300;
    @include media($mobile){
        margin: 0 auto;
        
    }

    &>.container{
       padding: 0;
    }    

    .card-cont{
        gap: $gap40;
        display: flex;
        flex-wrap: wrap;

        @include media(1311px){
            padding: 0 $gap16;
        }

        &>div{
            padding: $gap40;
            border-radius: $corners8;
            @include media($mobile){
                padding: $gap20;
            }
        }

        &.cols2{
            &>div{
                width: 48.4%;
                background: $white;                
            }
        }

        &.cols3{
            &>div{
                width: 31.3%;
                background: $white;                
            }
        }

        &.cols2,
        &.cols3{
            &>div{
                @include media(1311px){
                    width: 47.2%;
                }
                @include media($mobile){
                    width: 100%;
                }
            }
        }
         

        
            
        


        
    }

    h4{
        gap: $gap24;
        display: flex;
        align-items: flex-start;
        margin-bottom: $gap24;
        align-items: flex-start;
        
        &>span:first-child{
            flex: 1;
        }

        @include media(1311px){
            br{
                display: none;
            }
        }
    }

    p{
        font-size: $fsize14;
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            gap: $gap8;
            display: flex;
            align-items: center;
            margin-bottom: $gap8;
        }
        span{
            display: block;
        }
    }
}