/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  text-align: center;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}

/*
* footer
*/
footer {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  padding: 60px 0;
  background: #00014F;
  margin-top: 120px;
}
@media screen and (max-width: 1320px) {
  footer {
    padding: 60px 16px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 20px 16px;
  }
}
footer > .container {
  padding: 60px 0;
}
footer .gCheck-logo {
  width: 110px;
  display: block;
}
footer .cols {
  gap: 40px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1023px) {
  footer .cols {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  footer .cols {
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) {
  footer .cols > div {
    width: 28.9% !important;
  }
}
@media screen and (max-width: 767px) {
  footer .cols > div {
    width: 100% !important;
  }
}
footer .cols > div:first-child {
  width: 420px;
}
footer .cols > div:first-child span:nth-child(3) {
  display: block;
  margin-top: 40px;
}
footer .cols > div:nth-child(2) {
  width: 260px;
}
footer .cols > div:nth-child(3), footer .cols > div:nth-child(4) {
  width: 160px;
}
footer .socmed {
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 40px;
}
footer .footer-links {
  font-size: 14px;
}
footer .footer-links h5 {
  color: #777E8C;
  margin-bottom: 16px;
}
footer .footer-links a {
  display: block;
  color: #FFFFFF;
  margin-bottom: 8px;
  text-decoration: none;
}
footer #copyright {
  margin: 40px auto;
  padding-top: 40px;
  font-size: 14px;
  border-top: 1px solid #3D3F7A;
}
footer #copyright > .cols {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer #copyright > .cols {
    flex-direction: column;
  }
}
footer #copyright > .cols > div {
  flex: 1;
  gap: 16px;
  display: flex;
}
@media screen and (max-width: 900px) {
  footer #copyright > .cols > div {
    width: 100% !important;
    justify-content: center !important;
  }
}
@media screen and (max-width: 767px) {
  footer #copyright > .cols > div {
    justify-content: flex-start !important;
  }
}
footer #copyright > .cols > div:last-child {
  justify-content: flex-end;
  text-align: right;
}
footer #copyright > .cols > div:last-child a {
  color: #3FC5FD;
  text-decoration: none;
}
footer #copyright .psba {
  width: 50px;
}
footer #copyright .bbb {
  width: 114px;
}

/*# sourceMappingURL=footer.css.map */
