@import "../_tools/variable";
@import "../_tools/mixins";
@import "../_tools/buttons";

/*
* footer
*/

footer{
    color: $white;
    font-weight: $fRegular;
    font-size: $base-fsize;
    padding: $gap60 0;
    background: $darkblue;
    margin-top: $gap120;

    @include media(1320px){
        padding: $gap60 $gap16;
    }
    @include media($mobile){
         padding: $gap20 $gap16;
    }


    &>.container{
        padding: $gap60 0;
    }
   
   ul li{
    list-style-position: inside;

        &::before{
            display: none;
            content: "";
            padding-left: 6px;
        }

        &::marker{
            display: none;
            content: "";
        }
    }

    .gCheck-logo{
        width: 110px;
        display: block;
        .gcText{
            fill: $white;
        }
    }

    .cols{
        gap:$gap40;
        display: flex;
        flex-wrap: nowrap;

        @include media($tablet){
            flex-wrap: wrap;
        }

        @include media($mobile){
            flex-direction: column;
        }

        &>div{

            @include media($tablet){
                width: 28.9% !important;
            }

             @include media($mobile){
                width: 100% !important;
            }
            
            &:first-child{
                width: 420px;

                span:nth-child(3){
                    display: block;
                    margin-top: $gap40;                    
                }
            }

            &:nth-child(2){
                width: 260px;
            }
            
            &:nth-child(3),
            &:nth-child(4){
                width: 160px;
            }
        }
    }

    .socmed{
        gap: $gap10;
        display: flex;
        flex-wrap: nowrap;
        margin-top: $gap40;
    }

    .footer-links{
        font-size: $fsize14;
        h5{
            color: $gray100;
            margin-bottom: $gap24;     
        }
        a{
            display: block;
            color: $white;
            margin-bottom: $gap8;
            text-decoration: none;
        }
    }

    #copyright{
        margin: $gap40 auto;
        padding-top: $gap40;
        font-size: $fsize14;
        border-top: 1px solid #3D3F7A;

        &>.cols{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            @include media(900px){
                flex-direction: column;
            }

            &>div{
                flex: 1;
                gap: $gap24;
                display: flex;
                
                @include media(900px){
                    width: 100% !important;
                    justify-content: center !important;
                }

                @include media($mobile){
                    justify-content: flex-start !important;
                }
                
                &:last-child{
                    justify-content: flex-end;
                    text-align: right;
                    a{
                        color: $cyan;
                        text-decoration: none;
                    }
                }
            }
        }
        .psba{
            width: 50px;
        }
        .bbb{
            width: 114px;
        }
    }


}