@import '_tools/variable'; 
@import '_tools/mixins'; 

@import 'blog/author';
@import 'blog/single'; 


/* Webforms */
.webforms{
    &>.container{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        margin-bottom: 50px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        @media (max-width: 768px) {
            display: block;
        }
        section{
            flex:1;
            padding: 0 20px;
            
            &:first-child{
                padding-top: 35px;
                @media (max-width: 768px) {
                    padding-top: 0;
                }
            }
        }
    }
}

/* author credits*/
#author-credits{
    li:before{
        display: none;
    }
}

body.category,
body.search{

    /* Limit excerpt description to a maximum of 4 lines for the grid layout */
    .post-excerpt-4-lines {
        /* Required for line clamping to work */
        display: -webkit-box;
        -webkit-box-orient: vertical;

        /* Set the maximum number of lines */
        -webkit-line-clamp: 4; 
        
        /* Hide the text that exceeds the limit */
        overflow: hidden; 

        /* Add space below the excerpt */
        margin-bottom: 1rem;
    }

    /* Optional: Ensure post thumbnails don't break the aspect ratio in the card */
    .post-thumbnail-container img.card-img-top {
        width: 100%;
        height: 200px; /* Adjust height as needed */
        object-fit: cover; /* Ensures image covers the area without distortion */
    }

    .row{
        gap:$gap30;
        display: flex;
        flex-wrap: wrap;

        .col{
            padding: $gap20;
            width: 31.3%;
            background: $white;
            position: relative;

            @include media($tablet){
                width: 48%;
            }

            @include media($mobile){
                width: 100%;
            }
        }
    }

    a{
        text-decoration: none;
    }

    #primary{
         
        header{
            padding: $gap20;
            border-bottom: 0;
            background: transparent;
        }

        h1{
            font-size: $fsize20;
        }
        .card-footer a{
            color: $blue300;
            left: $gap20;
            bottom:$gap20;
            position: absolute;
        }
        .entry-summary{
            padding-bottom: $gap40;
        }
    }
    
    h4{
        margin-bottom: $gap40;
        &>span{
            color: $blue300;
        }
    }
}


#primary{
    margin-top: $gap40;
    a{
        color: $black;
    }

    ul{
        margin-left: $gap40;
    }

    li{
        list-style-position: outside;
    }

    h1,h2{
        line-height: normal;
    }

    h1{
        font-size: $fsize32;
    }
    h2,p{
        padding: $gap20 0;
    }

    h2{
        font-size: $fsize20;        
    }

    hr{
        display: none;
    }

    p{
        &.has-background{
            padding: $gap60;
            border-top: 0;
            border-bottom: 0;
            margin: $gap40 0;
            background-color: transparent !important ;
            border-top: 1px solid $lineColor;
            border-bottom: 1px solid $lineColor;
        }
        
    }

    ._article-topcontent {
        margin-bottom:$gap20;
        
        & > .wp-block-group__inner-container {
            flex-wrap:wrap;
        }
        
        ._article-summary,
        ._article-introduction { width:100% }
        
        ._article-summary {
            margin-bottom:$gap60;
            font-size:1.8rem;
            line-height:2.6rem;
            background:url('/wp-content/uploads/2024/07/quote.svg') no-repeat 0 .7rem;
            padding-left:$gap60;
        }
        
        ._article-keytakeaways {
            background:rgba(79, 81, 253, 0.08);
            border-radius:.8rem;
            padding:16px;
            
            h2 { margin-bottom:16px }
            
            
            
        }
        
        ._article-tableofcontents {
            background:#F3F6F7;
            border-top:.2rem solid #4F51FD;
            padding:16px;
            width:100%;
            
            h5 { margin-bottom:16px }
            
            ul {
                margin:0;
                
                li {
                    color:#4F51FD;
                    text-decoration:underline;
                    &:before { background:#4F51FD }
                }
                
            }
            
        }
        
       
        
        &:not(._w-keytakeaway) ._article-tableofcontents { width:100% }
        
   
        
    }
  
}


.legal-disclaimer{
    font-size: 12px;
    padding-top: $gap20;
    border-top: 1px solid $gray100;
    p{
        padding: $gap10 0 !important;
    }
}