@import '_tools/variable'; 
@import '_tools/mixins'; 

body.page{

    .cols{
        gap: $gap40;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        @include media($mobile){
            display: block;
        }

        &>div{
            padding: 0;
            margin: 0;    
        }
        &.cols2{
            &>div{
                flex: 1;            
            } 
        }
        
    }

     .logos{
            gap: $gap16;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            &.Center{
                justify-content: center;
            }
     }

    #testimonials{
        
        &.cards p {
            font-size: $fsize24;
        }

        img{
            width: auto;
        }

        .fineprint{
            bottom: $gap40;
            left: $gap40;
            font-size: $fsize14;
            position: absolute;
            
            br{
                display: none;
            }

            p{
                padding: 0;
            }
            strong,b{
                display: block;
            }

            @include media($mobile){
                left: $gap20;
            }
        }

        .cols3>div{
            gap: $gap40;
            display: flex;
            position: relative;
            flex-direction: column;

             @include media($mobile){
                 gap: $gap10;  
            }

            &>span:nth-child(2){
                padding-bottom: $gap100 + 50;
            }
        }
        
    }

    #comparison{
        color: $white;
        padding: $gap80 $gap16;
        background: $gray300;
        margin-top: $gap120;

        &>.container{            
            padding: 0;
        }

        @include media($mobile){
            padding-bottom: $gap40;                
        }


        .heading{
            margin: 0;
            padding-bottom: $gap20;
            span{
                color: $cyan;
                display: block;
                font-weight: $fSemiBold;
                font-size: $base-fsize;
            }
        }
   
        .logos{
            justify-content: center;
         
            .gCheck-logo{
                width: 170px;
                .gcText{
                    fill: $white;
                }
            }

            .other-logo svg{
                width: 160px;
            }
        }

        .box{
            color: $black;
            overflow-y: auto;
            
            @include media($tablet){
                padding-bottom: $gap40;                
            }

            &>div{
                width: 1000px;
                overflow: hidden;
                background: $white;
                border-radius: $corners8;
                margin: $gap40 auto 0 auto;
                
                display: flex;
                flex-direction: row;    
            }

            ul{
                flex: 1;
                    border-left: 1px solid $gray75;
                &:last-child{
                 border-left: 1px solid $gray75;
                }
                &:first-child li{
                    justify-content: flex-end;
                }
                &:nth-child(2) li{
                    justify-content: center;
                }

            }

            li{
                gap: $gap10;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: $gap30 $gap24;
                &:before{
                    display: none;
                }

                &:nth-child(even){
                    background: $white75;
                }  
            }

        }

    }

    #help{
        &.cards h4{
            align-items: flex-start;
            flex-direction: column;
            
              .gCheck-logo{
                    width: 100px;
                    .gcText{
                        fill: $black;
                    }
                }
                .other-logo{
                    width: 100% !important;
                    margin-top: 0 !important;
                    svg{
                        width: 100px !important;
                    }
                }

        }

      
            
        
    
    }

    /*
     * sub pages
     */

    .top-banner{
        padding: $gap60 $gap16;
        background: $blue10;
        &>.container{
            gap: $gap40;
            display: flex;
            align-items: center;
            flex-direction: row;

            @include media($tablet){
                flex-direction: column;
            }

             @include media($mobile){
                text-align: center;
                padding: 0;
            }
            
            &>div{
                flex: 1;                
            }
            &>div:first-child{
                gap:$gap16;
                display: flex;
                flex-direction: column;
                strong{
                    font-size: $fsize18;
                }
            }
            &>div:last-child{
                overflow: hidden;
                border-radius: 8px;
            }
        }
       

       h1{
        color: $gray300;
        font-size: $fsize48;
        line-height: normal;
        span{
            display: block;
            color: $blue300;
            font-size: $fsize14;
            text-transform: uppercase;
        }
       }
    }

    .dark-box{
        color: $black;
        padding: $gap60;
        
         h2{
            color: $black;
            padding-bottom: $gap24;
        }
        

        &.dark{
            color: $white;
            background: $gray300;

            h2{
                color: $cyan;                
            }
            
        }

        @include media($mobile){
            padding: $gap16;
            &>.container,
            .cards .card-cont{
                padding: 0;
            }            
        }

        .cards{
            margin-top: $gap40;
        }

        /*
       
        li{
            list-style: none;
            &:before{
                display: none;
            }
            
        }
        */

        .heading{
            padding: 0;
            margin: 0;
        }


        &.relevant-products{
             li{
                list-style: none;
                &:before{
                    display: none;
                }
                
            }
        }
    }

    .fundamentals.cards{
        margin:0;
        h4{
            
            @include media($mobile){
                flex-direction: row;
            }

            span:first-child{
                order: 2;
            }
            span:last-child{
                order: 1;
            }
        }
    }

    .most-relevant-products{
        padding-bottom: $gap50;
        ul{
            gap: $gap10;
            margin: 0 auto;
            max-width: 1100px;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li{
                color: $black;
                padding: $gap10;
                background: $white;
                border-radius: $corners8;
            }
        }
    }

    .percentage-value-props{
        color: $gray300;
        margin: $gap80 0;

        h3{
            display: block;
        }
        .card-cont{
            @include media(1311px){
                justify-content: center;
            }
             @include media($mobile){
                margin-bottom: $gap80;
            }
        }
        .card-cont>div{
            background: transparent;
            text-align: center;

            @include media($tablet){
                width: 47.1%;
                svg{
                    margin: 0 auto;
                    display: inline-block;
                }
            }

            @include media($mobile){
                padding: 0;
                width: 100%;                
            }
            

        }

        h3{
            font-size: $fsize64;
            color: $blue300;
            font-weight: $fExtraBold;
        }
    }

     #pricing{
        font-weight: 400;
        font-size: 18px;
        padding: $gap10;
        line-height: 28px !important;
        
        #metrics-price{
            display: flex;
            flex-direction: row;
            overflow-x: auto;

            &>.container{
                background: $white;
            }
            

            &>div{
                flex: 1;
                padding: $gap20;
                border-right: 1px solid $gray75;
                &:last-child{
                    border-right: 0;
                }
            }

            
            table,
            thead{
                margin: 0;
                padding: 0;
                width: 1320px;
                font-size: $fsize14;
            }

            thead{
                tr{
                   display: flex;
                    position: relative;
                    flex-direction: row;
                }
                td{
                    padding-bottom: $gap100;
                }
            }

            tbody{
                tr{
                    display: flex;

                }
            }
          
            td{
                width: 100%;
                padding: $gap20;
                position: relative;
                border-right: 1px solid $gray75;

                gap: $gap16;
                display: flex;
                flex-direction: column;

                &:last-child{
                    border-right:0;
                }
            }

            tbody{
                tr:nth-child(odd){
                    background: $gray50;
                }
                td{
                    display: flex;
                    justify-content: center;
                }
            }

            h4{
                display: flex;
                font-size:$fsize18;
                span{
                    flex: 1;
                }
                .badge{
                    flex: none;
                    padding: 0 $gap10;
                    color: $blue300;
                    font-size:$fsize14;
                    background: $blue10;
                }
            }

            .price{
                font-size: $fsize40;
                font-weight: $fBold;
                color: $blue300;

                bottom: $gap20;
                left: $gap20;
                position: absolute;

                &>strong{
                    display: block;
                    color: $black;
                    font-weight: $fBold;
                    font-size: $fsize14;
                }
                
            }
        }

        #desktop-price{
            display:block;
            @include media($mobile){
                display:none;
            }
        }

        #mobile-price{
            display:none;
            
            overflow-y: scroll;
            padding: 0 0 $gap20 0 !important;
            
            @include media($mobile){
                display:block;
            }

            &>section{
                gap: $gap10;
                width: 1126px;
                display: flex;
                flex-direction: row;                
                &>div{
                    flex: 1;
                    padding: $gap20;             
                }

                h4{
                    padding-bottom: $gap16;
                }
            }

            .box{
                margin-top: $gap24;
                padding-top: $gap24;
                border-top: 1px solid $gray75;

                ul{
                    margin: $gap16 0 0;
                    padding-left: 0;
                }
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    list-style: none;
                    padding-left: 0;
                    &::before{
                        display: none;
                    }
                    &>span{
                        padding-right: $gap10;
                    }
                }
            }

            .price{
                position: static;
            }
        }

        #btn{
            display: block;
            padding: $gap40 0;
            text-align: center;
            font-size: $fsize14;
            .button{
                display: inline-block;
                margin-bottom: $gap24;
            }
        }
    }
    
    .join-us{
        margin: $gap120 $gap16;
        &>.container{
            max-width: 800px;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            @include media($mobile){
                padding: 0;                
            }
        }
        .button{
            margin-top: $gap40;
        }
    }

    .form-template{
        // new forms format
        margin-bottom: $gap80;;
        section{
            display: flex;
            margin-top: $gap40;
            flex-direction: row;

            &.right{
                &>div:first-child{
                    order: 2;
                }
                &>div:last-child{
                    order: 1;
                }
            }

            @include media($tablet){
                flex-direction: column;
            }

            form{
                gap: $gap10;
                display: flex;
                flex-wrap: wrap;

                span{
                    width: 49.1%;
                    padding: $gap10;
                    display: block;

                    @include media(1306px){
                        width: 100%;
                    }

                    &:first-child,
                    &:last-child,
                    &:nth-child(6){
                        width: 100%;
                    }
                    
                }

                label{
                    color: $white;;
                    display: block;
                    margin-bottom: $gap10 - 5;
                    font-size: $fsize14;

                    i{
                        color: $gray75;
                    }
                }

                textarea,select,
                input[type="tel"],
                input[type="text"],
                input[type="email"]{
                    width: 100%;
                    height: 50px;
                    padding: $gap10;
                    background: $white;
                    border-radius: 1px;
                    cursor: pointer;
                }

                textarea{
                    height: 150px;
                }

                button{
                    width: 100%;
                }

                .custom-select {
                    position: relative;

                    select {
                        appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                        cursor: pointer;
                        outline: none;
                        
                    }

                    select:focus {
                        font-size: $fsize12;
                        background: $white;
                        border: 1px solid $blue300;
                        border-radius: 5px;
                    }

                    &:after {
                        content: "";
                        top: 50%;
                        right: 10px;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        pointer-events: none;
                        background-color: $black;
                        transform: translate(0, -50%);
                        clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
                    }

                }

                
            }

            &>div{
                flex: 1;
            }

            &>div:first-child{
                color: $white;
                padding: $gap40;
                background: #00014F;

                @include media($mobile){
                    padding: $gap10;
                    margin-bottom: $gap50;
                }

                em{
                    color: $cyan;
                    font-style: normal;
                    font-size: $fsize14;
                }

                .fineprint{
                    font-size: $fsize12;
                    a{
                        color: $cyan;
                        text-decoration: underline;
                    }
                }

                .title{
                    gap: $gap10;
                    display: flex;
                    flex-direction: column;
                }
            }

            &>div:last-child{
                padding: $gap60;
                max-width: 660px;
                background: url(../images/contact-img-bg.jpg) no-repeat center bottom $white;

                 @include media($mobile){
                    padding: $gap10;
                }

                @include media($tablet){
                    max-width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;                    
                }

                h2{
                    font-weight: normal;
                    i{
                        font-weight: $fBold;
                    }

                    em{
                        font-weight: $fBold;
                        background-image: linear-gradient(to right, #3FC5FD, #D20DF5); /* Red to Blue gradient */
                        -webkit-background-clip: text; /* For WebKit browsers */
                        background-clip: text;
                        -webkit-text-fill-color: transparent; /* For WebKit browsers */
                        color: transparent; /* Fallback for browsers that don't support -webkit-text-fill-color */
                    }
                }
            }
        }

        // old forms format
        .gcheck-contact-container{
             display: flex;
             flex-wrap: wrap;
             
             // overwrite
             margin: 0;
             padding: 0;
             color: $white;
             box-shadow: none;
             background: transparent;
             max-width: 100%;
             border-radius: 1;
             font-family: $default-font;

             &::before{
                display: none;
             }

             .gcheck-contact-form{
                padding: $gap20 0;
             }

             .gcheck-disclaimer{
                color: $white;
                margin: 0 0 $gap20 0;
             }

             .gcheck-error-message{
                display: none;
                color: $red300;
             }

             .gcheck-form-group{
                width: 49%;

                @include media($mobile){
                    width: 100%;
                }
                


                &:nth-child(7){
                    width: 100%;
                }

                /*
                &:nth-child(3){
                    width: 100%;
                }
                &:nth-child(6){
                    width: 100%;
                }
                */

                select {
                        appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                        cursor: pointer;
                        outline: none;
                        position: relative;

                    &:focus {
                        background: $white;
                        border: 1px solid $blue300;
                        border-radius: 5px;
                    }

                    &:before {
                        content: "";
                        top: 50%;
                        right: 10px;
                        width: 12px;
                        height: 12px;
                        display: block;
                        // position: absolute;
                        pointer-events: none;
                        background-color: $black;
                        transform: translate(0, -50%);
                        clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
                    }
                        
                        
                    }

                    
               
             }

            .gcheck-submit-btn{
                padding: 0;
                border: 0;
                position: relative;
                background: $blue300 !important;

                .gcheck-spinner{
                    height: 20px;
                    width: 20px;
                    display: none;
                    margin: auto;
                    left: 0; right: 0;
                    top:0; bottom: 0;
                    position: absolute;
                }
            }

        }
    }

    #landing-page{
        margin: $gap40 0;

        
        h1,h2,h3{
            padding-bottom: $gap20;
        }

        h1{
            margin: 0;
            padding-bottom: $gap20;
            line-height: normal;
            font-size: $fsize40;

            @include media($mobile){
                font-size: $fsize24;
            }
        }

        h3{
            font-weight: $fSemiBold;
            @include media($mobile){
                font-size: $fsize18;
            }
        }

        ul{
            li{
                list-style-position: inside;
            }
        }

        figure{
            padding: $gap20 0;
        }

        .wp-block-columns{
            margin: 0;

            &.cols3{
                &>div{
                    padding: $gap20;
                    background: $white;
                    border: 1px solid $gray75;
                    span{
                        padding: $gap10 0;
                        display: inline-block;
                    }
                }

            }
        }

        .gcheck-form-group{

            textarea, select,
            input[type="tel"],
            input[type="email"],
            input[type="text"]{
                background: $white;
                border-radius: $corners4 !important;
                border: 1px solid $gray75;
            }

            
        }
    }

    #blog{
        margin: $gap100 0;
    }

    /* standard pages */
    #standard-page{
        padding: $gap40;

        &>.container{
            max-width: 1095px;
        }

        .pleft{
            padding-left: $gap20;
        }

        h2{
            margin-bottom: $gap50;
        }

        .wp-block-list{
            margin-left: $gap20;
        }

        li{
            list-style-position: inside;
        }

        .glossary-content{
            margin: 0;

            ul{
                padding: 0;
                li{
                    padding-left: 0;
                    &::before{
                        display: none;
                    }
                }
            }

            .data-info{
                padding-left: $gap20;
            }

            .columns{
                margin-top: $gap40;
                
               &>div{
                    gap: $gap20;
                    display: flex;
                    flex-wrap: wrap;
                    
                    &>.col{
                        flex: 1 0 32%;

                        @include media($mobile){
                            flex: 1 0 100%;
                        }

                        &:nth-last-child(-n+2) {
                            flex: none;
                            max-width: 350px;
                            @include media($mobile){
                                max-width: 100%;
                            }
                        }

                        .wp-block-list{
                            margin-left: 0 !important;
                        }

                        li{
                            list-style: none !important;
                            padding-bottom: $gap20;
                            &::marker,
                            &::before{
                                display: none !important;
                            }
                        }
                        
                        p>strong{
                            font-size: $fsize28;
                        }

                        a{
                            color: $blue300;
                        }
                    }

                    
                }
            }
        }
    }

    .gcheckpdf-request-container{
        max-width: 644px;
    }

    #whitepaper{
        margin: $gap60 0;
        .page-hero{
            
            @include media($mobile){
                margin-top: $gap40;
            }
        }

        h4{
            font-size: 18px;
            @include ellipsis(2);
        }

        .cards{
            margin-bottom: 0;
        }
        .pdf-info{
            gap: $gap20;
            display: flex;
            flex-direction: row;
            padding-bottom: $gap60;
            a{
                color: $gray300;
                text-decoration: none;
            }
            &>span{
                flex: 1 0 48px;
            }
        }

        .button.outline{
            top: auto;
            bottom: $gap20;
            right: $gap20;
            left: $gap20;
            display: block;
            position: absolute;

            &:link,
            &:active,
            &:visited{
                color: $blue300;
            }
        }
        .cards .card-cont > div{
            position: relative;
        }
    }

    
}

