@import '_tools/variable'; 
@import '_tools/mixins'; 

body.page{

     .logos{
            gap: $gap16;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            &.Center{
                justify-content: center;
            }
     }

    .page-hero{
        padding: $gap60 0;

        @include media($mobile){
            br{
                display: none;
            }
        }
        
        &.yes{
            background: $blue10;
        }

        &.no{
            background: $white;
        }
        
        &.Center{
            text-align: center;
            .logos{
                justify-content: center;
            }

            .bullets{
                gap: $gap10;
                padding: $gap10;
                flex-direction: row;
                justify-content: center;
            }
        }

        &>.container{
            padding: 0;
            
            section{
                &.Left {
                    div:first-child{
                        order: 2
                    }
                    div:last-child{
                        order: 1
                    }
                }
                
            }
            
        }

        h2{
            color:$gray300;
            font-size: $fsize48;
            font-weight: $fSemiBold;
            line-height: normal;

            br{
                // display: none;
            }

            pre{
                height: auto;
            }

            p{
                padding: 0;
                margin: 0;
            }
            
            &>span{
                    display: block;
                    color: $blue300;
                    font-size: $fsize14;
                    text-transform: uppercase;
            }
            

            @include media($mobile){
                font-size: $fsize32;
            }
        }

        pre{
            display: block;
            color: $blue300;
            font-size: $fsize14;
            text-transform: uppercase;
        }

        strong{
            font-size: $fsize18;
        }
        
        p{
            padding: 0;
        }

        .cols.cols2{
            align-items: center;

            @include media(1300px){
                padding: $gap40 $gap16;
                flex-direction: column;
                justify-content: flex-start;

                &>div{
                    width: 100%;
                    max-width: 100% !important;

                }
            }

            &>div{
                flex: none;
            }
            &>div:first-child{
                max-width: 660px;
                gap: $gap16;
                display: flex;
                flex-direction: column;
                span:last-child{
                    margin-top: $gap24;
                }
            }
            &>div:last-child{
                max-width: 620px;
                overflow: hidden;
                border-radius: $corners8;
            }
        }

        li{
            padding: $gap10 - 5;
            list-style: none;
        }

        .logos{
            padding: 0;
            margin: 0;
            img{
                width: revert-layer;                
            }
        }

        .bullets{
            padding: 0;
            margin: $gap20 0;
            display: flex;
            flex-direction: column;
            li{
                gap: $gap10;
                display: flex;
            }
            li:before{
                content: "";
                width: 20px;
                height: 20px;
                background: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 1.25C5.66797 1.25 1.75 5.16797 1.75 10C1.75 14.832 5.66797 18.75 10.5 18.75C15.332 18.75 19.25 14.832 19.25 10C19.25 5.16797 15.332 1.25 10.5 1.25ZM14.2793 7.14258L10.166 12.8457C10.1085 12.9259 10.0327 12.9913 9.94493 13.0364C9.85713 13.0815 9.75984 13.1051 9.66113 13.1051C9.56242 13.1051 9.46513 13.0815 9.37733 13.0364C9.28953 12.9913 9.21374 12.9259 9.15625 12.8457L6.7207 9.4707C6.64648 9.36719 6.7207 9.22266 6.84766 9.22266H7.76367C7.96289 9.22266 8.15234 9.31836 8.26953 9.48242L9.66016 11.4121L12.7305 7.1543C12.8477 6.99219 13.0352 6.89453 13.2363 6.89453H14.1523C14.2793 6.89453 14.3535 7.03906 14.2793 7.14258V7.14258Z" fill="%235DC567"></path></svg>');
            }
        }

        .text-only{
            padding: 0 $gap16;
            .heading{
                margin: $gap16 0;
            }

            .button{
                margin: $gap40;
                display: inline-block;
            }

            h2{
                padding-bottom: $gap10;
            }
        }

        .value-props{
            margin: 0;
            padding: 0;
            gap: $gap40;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            @include media($mobile){
                gap: $gap10;
                padding: 0 $gap40;
                flex-direction: column;
            }

            li{
                gap: $gap10;
                display: flex;
                align-items: center;
                flex-direction: row;
                &::before{
                    display: none;
                }
            }
        }

    }

    #testimonials{
        
        &.cards p {
            font-size: $fsize24;
        }

        .fineprint{
            bottom: $gap40;
            left: $gap40;
            font-size: $fsize14;
            position: absolute;

            br{
                display: none;
            }

            p{
                padding: 0;
            }
            strong,b{
                display: block;
            }

            @include media($mobile){
                left: $gap20;
            }
        }

        .cols3>div{
            gap: $gap40;
            display: flex;
            position: relative;
            flex-direction: column;

             @include media($mobile){
                 gap: $gap10;  
            }

            &>span:nth-child(2){
                padding-bottom: $gap100 + 50;
            }
        }
        
    }

    #comparison{
        color: $white;
        padding: $gap80 $gap16;
        background: $gray300;
        margin-top: $gap120;

        &>.container{            
            padding: 0;
        }

        @include media($mobile){
            padding-bottom: $gap40;                
        }


        .heading{
            margin: 0;
            padding-bottom: $gap20;
            span{
                color: $cyan;
                display: block;
                font-weight: $fSemiBold;
                font-size: $base-fsize;
            }
        }
   
        .logos{
            justify-content: center;
         
            .gCheck-logo{
                width: 170px;
                .gcText{
                    fill: $white;
                }
            }

            .other-logo svg{
                width: 160px;
            }
        }

        .box{
            color: $black;
            overflow-y: auto;
            
            @include media($tablet){
                padding-bottom: $gap40;                
            }

            &>div{
                width: 1000px;
                overflow: hidden;
                background: $white;
                border-radius: $corners8;
                margin: $gap40 auto 0 auto;
                
                display: flex;
                flex-direction: row;    
            }

            ul{
                flex: 1;
                    border-left: 1px solid $gray75;
                &:last-child{
                 border-left: 1px solid $gray75;
                }
                &:first-child li{
                    justify-content: flex-end;
                }
                &:nth-child(2) li{
                    justify-content: center;
                }

            }

            li{
                gap: $gap10;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: $gap30 $gap24;
                &:before{
                    display: none;
                }

                &:nth-child(even){
                    background: $white75;
                }  
            }

        }
    }

    #help{
        &.cards h4{
            align-items: flex-start;
            flex-direction: column;
            
              .gCheck-logo{
                    width: 100px;
                    .gcText{
                        fill: $black;
                    }
                }
                .other-logo{
                    width: 100% !important;
                    margin-top: 0 !important;
                    svg{
                        width: 100px !important;
                    }
                }

        }

      
            
        
    
    }

    /*
     * sub pages
     */

    .top-banner{
        padding: $gap60 $gap16;
        background: $blue10;
        &>.container{
            gap: $gap40;
            display: flex;
            align-items: center;
            flex-direction: row;

            @include media($tablet){
                flex-direction: column;
            }

             @include media($mobile){
                text-align: center;
                padding: 0;
            }
            
            &>div{
                flex: 1;                
            }
            &>div:first-child{
                gap:$gap16;
                display: flex;
                flex-direction: column;
                strong{
                    font-size: $fsize18;
                }
            }
            &>div:last-child{
                overflow: hidden;
                border-radius: 8px;
            }
        }
       

       h1{
        color: $gray300;
        font-size: $fsize48;
        line-height: normal;
        span{
            display: block;
            color: $blue300;
            font-size: $fsize14;
            text-transform: uppercase;
        }
       }
    }

    .dark-box{
        color: $black;
        padding: $gap60;
        
         h2{
            color: $black;
            padding-bottom: $gap24;
        }
        

        &.dark{
            color: $white;
            background: $gray300;

            h2{
                color: $cyan;                
            }
            
        }

        @include media($mobile){
            padding: $gap16;
            &>.container,
            .cards .card-cont{
                padding: 0;
            }            
        }

        .cards{
            margin-top: $gap40;
        }

       
        li{
            list-style: none;
            &:before{
                display: none;
            }
            
        }

        .heading{
            padding: 0;
            margin: 0;
        }
    }

    .fundamentals.cards{
        margin:0;
        h4{
            
            @include media($mobile){
                flex-direction: row;
            }

            span:first-child{
                order: 2;
            }
            span:last-child{
                order: 1;
            }
        }
    }

    .latest-articles{

        @include media($mobile){
            &>.container{
                padding: 0;
            }
        }
        .cards .card-cont>div{
            padding: 0;
        }
        .featured-image{
            margin: 0;
            display: block;
            height: 300px;
            overflow: hidden;
            
            @include media($mobile){
                height: auto;
            }
        }
        .articles-info{
            padding: $gap20;
            gap: $gap20;
            display: flex;
            flex-direction: column;
            h4,.read-time,.category{
                margin: 0;
                margin-bottom: -$gap10;
            }
            h4 a{
                color: $gray300;
                font-size: $fsize18;
                text-decoration: none;
                @include ellipsis(2);
            }
            .category a{                
                color: $blue300;
                font-size: $fsize12;
                font-weight: $fSemiBold;
                text-transform: uppercase;
                text-decoration: none;
            }
            .read-time{
                color:$gray300;
                font-size: $fsize12;
            }
            .description{
                color: $gray300;
                font-size: $fsize14;
                @include ellipsis(3);
            }
            .btn{
                display: block;
            }
            
        }
    }

    .most-relevant-products{
        padding-bottom: $gap50;
        ul{
            gap: $gap10;
            margin: 0 auto;
            max-width: 1100px;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li{
                color: $black;
                padding: $gap10;
                background: $white;
                border-radius: $corners8;
            }
        }
    }

    .percentage-value-props{
        color: $gray300;
        margin: $gap80 0;

        h3{
            display: block;
        }
        .card-cont{
            @include media(1311px){
                justify-content: center;
            }
             @include media($mobile){
                margin-bottom: $gap80;
            }
        }
        .card-cont>div{
            background: transparent;
            text-align: center;

            @include media($tablet){
                width: 47.1%;
                svg{
                    margin: 0 auto;
                    display: inline-block;
                }
            }

            @include media($mobile){
                padding: 0;
                width: 100%;                
            }
            

        }

        h3{
            font-size: $fsize64;
            color: $blue300;
            font-weight: $fExtraBold;
        }
    }

    .join-us{
        margin: $gap120 $gap16;
        &>.container{
            max-width: 800px;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            @include media($mobile){
                padding: 0;                
            }
        }
        .button{
            margin-top: $gap40;
        }
    }

}

