/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
#grid-cont {
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (max-width: 1023px) {
  #grid-cont {
    overflow-y: auto;
  }
}
@media screen and (max-width: 767px) {
  #grid-cont {
    overflow-y: inherit;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

.grid {
  margin: 0 auto;
  max-width: 1320px;
  display: grid;
}
@media screen and (max-width: 1023px) {
  .grid {
    overflow-y: auto;
    padding-top: 20px;
  }
}
.grid.set1 {
  padding-top: 60px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.grid.set1 .grid-item:nth-child(1) {
  grid-area: 1/2/2/5;
}
.grid.set1 .grid-item:nth-child(2) {
  grid-area: 1/1/3/2;
  width: 320px;
  height: 690px;
}
.grid.set1 .grid-item:nth-child(3) {
  grid-area: 1/5/2/6;
  width: 310px;
}
.grid.set1 .grid-item:nth-child(4) {
  grid-area: 2/2/3/3;
  width: 312px;
}
.grid.set1 .grid-item:nth-child(5) {
  grid-area: 2/3/3/6;
}
.grid.set1 .desktop {
  display: block;
}
.grid.set1 .mobile {
  display: none;
}
@media screen and (max-width: 1350px) {
  .grid.set1 {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px 16px;
  }
  .grid.set1 .desktop {
    display: none;
  }
  .grid.set1 .mobile {
    display: block;
  }
  .grid.set1 > .grid-item {
    flex: 1;
    height: 280px !important;
    width: 33.33%;
  }
  .grid.set1 > .grid-item img {
    width: auto;
    height: 280px;
  }
  .grid.set1 > .grid-item:nth-child(2), .grid.set1 > .grid-item:nth-child(5) {
    display: none;
  }
  .grid.set1 > .grid-item label {
    height: 280px !important;
    display: block;
    width: 100% !important;
  }
}
@media screen and (max-width: 1290px) {
  .grid.set1 {
    width: 1290px;
  }
  .grid.set1 > .grid-item {
    width: 370px !important;
  }
}
@media screen and (max-width: 767px) {
  .grid.set1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
  }
  .grid.set1 > .grid-item {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
.grid.set1 {
  /*
   @include media(480px){
      &>.grid-item{
         width: 100% !important;
         img{
             width: 100% !important;
             height: auto;       
         }
      } 
   }

   */
}

/* grid set 1 */
.set1 [class*=grid-] {
  height: 330px;
  border-radius: 8px;
}
.set1 [class*=grid-] i {
  bottom: 40px;
  right: 40px;
  position: absolute;
}

/* Each card container */
.card {
  width: 200px;
  height: 130px;
  perspective: 1000px;
  cursor: pointer;
  display: inline-block;
}

/* Hide the checkbox */
.card input {
  display: none;
}

/* Inner wrapper */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Flip on toggle */
.card input:checked ~ .card-inner {
  transform: rotateY(180deg);
}

/* Front & Back common styles */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  position: absolute;
}
.card-front > span,
.card-back > span {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  padding: 40px;
}
.card-front > span strong,
.card-back > span strong {
  color: #3FC5FD;
}

/* Back (new element) */
.card-back {
  transform: rotateY(180deg);
}

#card-item-1 {
  width: 658px;
  height: 330px;
  line-height: 39px;
}
#card-item-1 .card-front,
#card-item-1 .card-back {
  color: #FFFFFF;
}
#card-item-1 .card-front span,
#card-item-1 .card-back span {
  width: 390px;
  font-size: 2em;
}
@media screen and (max-width: 767px) {
  #card-item-1 .card-front span,
  #card-item-1 .card-back span {
    width: 100%;
    font-size: 1.75em;
  }
}

#card-item-3,
#card-item-4 {
  width: 310px;
  height: 330px;
}

#card-item-3 .card-front,
#card-item-3 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FFFFFF;
  font-weight: 400;
}

#card-item-4 .card-front,
#card-item-4 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FEEBB6;
  font-weight: 400;
}
#card-item-4 .card-front strong,
#card-item-4 .card-back strong {
  color: #FF4D00;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
#key-features {
  margin-bottom: 120px;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
#pricing {
  color: #FFFFFF;
  text-align: center;
  padding: 80px 60px;
  background: #30319A;
}
#pricing > .container {
  padding: 0;
}
@media screen and (max-width: 1023px) {
  #pricing {
    padding: 80px 16px;
  }
}
#pricing p > a {
  color: #3FC5FD;
}
#pricing .heading {
  margin: 0;
  padding-bottom: 40px;
}
#pricing #boxes {
  gap: 40px;
  display: flex;
  margin: 0 auto;
  max-width: 1094px;
  flex-wrap: nowrap;
  padding: 40px;
  background: #282981;
  border-radius: 8px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  #pricing #boxes {
    flex-wrap: wrap;
  }
}
#pricing #boxes > .box {
  gap: 8px;
  width: 33.33%;
  display: flex;
  color: #CDD6E0;
  font-size: 14px;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-right: 1px solid #4B4C96;
  text-align: left;
}
#pricing #boxes > .box:last-child {
  border-right: 0;
}
@media screen and (max-width: 767px) {
  #pricing #boxes > .box {
    width: 100%;
    text-align: left;
    border-right: 0;
  }
}
#pricing #boxes strong {
  color: #FFFFFF;
  font-size: "Inter", sans-serif;
  font-weight: 600;
}
#pricing #price-boxes {
  color: #000000;
  text-align: left;
  margin: 80px 0;
  overflow-y: auto;
  padding-bottom: 20px;
}
#pricing #price-boxes > div {
  gap: 20px;
  width: 1094px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
@media screen and (max-width: 1023px) {
  #pricing #price-boxes > div {
    padding-left: 10px;
  }
}
#pricing #price-boxes .price-box {
  width: 33.33%;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
}
#pricing #price-boxes .price-badge {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  align-items: flex-start;
}
#pricing #price-boxes .price-badge > h2, #pricing #price-boxes .price-badge > span {
  width: 100%;
  display: block;
}
#pricing #price-boxes .price-badge > h2:first-child, #pricing #price-boxes .price-badge > span:first-child {
  display: flex;
  height: 40px;
  align-items: center;
}
#pricing #price-boxes .price-badge > h2:first-child strong, #pricing #price-boxes .price-badge > span:first-child strong {
  flex: 1;
}
#pricing #price-boxes .price-badge h2 {
  color: #4F51FD;
}
#pricing #price-boxes .price-badge p {
  padding: 0;
  margin: 0;
}
#pricing #price-boxes .price-badge .badge {
  padding: 10px;
  color: #30319A;
  display: inline-block;
  background: #F2F3FF;
  border-radius: 4px;
  font-weight: 600;
}
#pricing #price-boxes .what-is-included {
  font-size: 14px;
  margin: 24px 0;
  padding-top: 24px;
  border-top: 1px solid #CDD6E0;
  min-height: 320px;
}
#pricing #price-boxes .what-is-included strong {
  display: block;
  margin-bottom: 16px;
}
#pricing #price-boxes .what-is-included ul {
  padding: 0;
  margin: 0;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#pricing #price-boxes .what-is-included li {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
#pricing #price-boxes .what-is-included li::before {
  display: none;
}
#pricing #price-boxes .buttons {
  width: 100%;
}
#pricing #price-boxes .buttons a {
  display: block;
  text-decoration: none !important;
}
#pricing .snippet {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  #pricing .snippet {
    flex-wrap: wrap;
  }
  #pricing .snippet a {
    width: 100%;
    display: block;
  }
}
#pricing .snippet a {
  color: #3FC5FD;
  text-decoration: underline;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
#hiring h4 {
  font-weight: 400;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  #hiring h4 {
    text-align: center;
  }
}
#hiring strong {
  color: #CC2900;
}
#hiring .boxes {
  gap: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  #hiring .boxes {
    margin-bottom: 16px;
  }
}
#hiring .boxes > .box {
  flex: 1;
  color: #000000;
  padding: 20px;
  background: #CDD6E0;
  border-radius: 8px;
  display: flex;
  gap: 24px;
  align-items: center;
}
#hiring .boxes > .box::before {
  display: none;
}
#hiring .boxes > .box span {
  width: 56px;
  height: 56px;
  display: block;
}
#hiring .boxes > .box p {
  flex: 1;
  margin: 0;
  padding: 0;
}
#hiring .gray-box,
#hiring .blue-box {
  border-radius: 8px;
  padding: 20px;
}
#hiring .gray-box h4,
#hiring .blue-box h4 {
  margin: 0;
  padding-bottom: 16px;
}
#hiring .gray-box {
  color: white;
  background: #1A1C1E;
  margin-bottom: 16px;
}
#hiring .blue-box {
  color: #FFFFFF;
  background: #30319A;
}
#hiring .blue-box h4 {
  color: #3FC5FD;
}
#hiring .blue-box ul {
  margin: 0;
  padding: 0 20px;
}
#hiring .blue-box li {
  list-style: disc outside;
  padding-bottom: 16px;
}

/*# sourceMappingURL=front-page.css.map */
