/* styles tools */
@import '../css/_tools/variable';
@import '../css/_tools/mixins';
@import '../css/_tools/buttons';

/* global styles */

@import 'columns/columns';
@import 'header/header';
@import 'footer/footer'; 
@import '../../core-pages/cards/css/cards.scss';
@import '../../core-pages/banner/css/banner.scss';
@import '../../core-pages/faq/css/faq'; 



/*
* Global
* 09.19.20 last modified - carl
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

*,
*:after,
*:before {
        margin: 0;
        padding: 0;
        @include box-sizing(border-box);
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold*/
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* prevent tap highlight color / shadow*/
        -webkit-overflow-scrolling: touch;
}

html {
    line-height: 1.5;
    font-size: $base-fsize;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
    
    color: $black;
    line-height: 1.5;
    position: relative;
    font-family: $default-font;
    font-size: $base-fsize;
    background: $white75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="text"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="search"],
input[type="submit"],
input[type="email"]{
        outline: none;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        border:0;
        
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray300;
        }
        &::-moz-placeholder { /* Firefox 19+ */
        color: $gray300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
        color: $gray300;
        }
        &:-moz-placeholder { /* Firefox 18- */
        color: $gray300;
        }
}

input[type="text"], 
input[type="email"],
input[type="search"]{
        width: 100%;
}

pre{
    
  white-space: pre-wrap; /* Allows text to wrap within the <pre> block */
  word-wrap: break-word; /* Ensures long words break and wrap */
  overflow-x: auto; 
  font-family: $default-font;

  @include media($mobile){
    all: unset;
  }
}


img{
        width: 100%;
        max-width: 100%;
}


li{
  padding: 0;
}

ul, ol{
  margin-bottom: $gap20;
}


ul li{
  &:before{
      content:"";
      height: 14px;
      width: 14px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231f1f1f"><path d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z"/></svg>');
      background-repeat: no-repeat;
      background-size: contain;
  }

}



ol li{
  list-style:  inside decimal;
}

main{
        margin: 0 auto;        
}


h1 {
  font-size: 4em; /* 60 px */
  @include inter($fSemiBold);
}

h2 {
  font-size: 2.5em; /* 40 px */
  @include inter($fSemiBold);

  @include media($mobile){
      font-size: $fsize32;
  }

}

h3 {
  font-size: 1.5em; /* 32 px */
  @include inter($fRegular);
}

h4 {
  font-size: 24px; /* 24 px 1.5em*/
  @include inter($fSemiBold);
}

h5 {
  font-size: 1.25em; /* 20 px */
  @include inter($fRegular);
}S

h1,h2,h3,h4,h5,h6{
  @include media($mobile){
    line-height: normal;
  }
}

.fine-print{
  font-size: 1.125em; /* 14 px */
}

p {
  font-size: 1em;
  padding-bottom: $gap10;
}

span[Class*=icon-]{
    cursor: pointer;    
}

.container{
  padding: 0;  
  margin: 0 auto;
  max-width: 1320px;

  @include media($mobile){
    padding: 0 $gap16;
  }


}

.fine-print{
  gap: $gap10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: $fsize14;
  padding: $gap20 0;

  @include media($mobile){
    padding: 0;
    justify-content: center;
  }
  
}

.heading{
  text-align: center;
  margin-top: $gap100 + 2;
  margin-bottom: $gap80;

  @include media($mobile){
    margin-bottom: $gap40;
    padding: 0 $gap16;
  }

  h2{
    line-height: normal;
    span{
      color: $blue300;
      display: block;
      font-weight: $fSemiBold;
      font-size: $base-fsize;
      text-transform: uppercase;

      @include media($mobile){
        font-size: $fsize14;
      }
    }
  }
}

.txtWhite{
  color: $white;
}

.txtBlack{
  color: $black;
}

.txtCyan{
  color: $cyan;
}

.center{
  margin: 0 auto;
  display: block;
  text-align: center;
}

.hide{
    display: none;
}

.home{
  .banner{
    padding: 0;
  }
}

#blog{

  .cards img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .page-hero{
        padding: $gap60 0;

        @include media($mobile){
            br{
                display: none;
            }
        }
        
        &.yes{
            background: $blue10;
        }

        &.no{
            // background: transparent;
        }
        
        &.Center{
            text-align: center;
            .logos{
                justify-content: center;
            }

            .bullets{
                gap: $gap10;
                padding: $gap10;
                flex-direction: row;
                justify-content: center;
            }
        }

        &>.container{
            padding: 0;
            
            section{
                &.Left {
                    div:first-child{
                        order: 2
                    }
                    div:last-child{
                        order: 1
                    }
                }
                
            }
            
        }

        h2{
            color:$gray300;
            font-size: $fsize48;
            font-weight: $fSemiBold;
            line-height: normal;

            br{
                // display: none;
            }

            pre{
                height: auto;
            }

            p{
                padding: 0;
                margin: 0;
            }
            
            &>span{
                    display: block;
                    color: $blue300;
                    font-size: $fsize14;
                    text-transform: uppercase;
            }
            

            @include media($mobile){
                font-size: $fsize32;
            }
        }

        pre{
            display: block;
            color: $blue300;
            font-size: $fsize14;
            text-transform: uppercase; 
        }

        strong{
            font-size: $fsize18;
        }
        
        p{
            padding: 0; 
        }

        .cols.cols2{
            align-items: center;

            @include media(1300px){
                padding: $gap40 $gap16;
                flex-direction: column;
                justify-content: flex-start;

                &>div{
                    width: 100%;
                    max-width: 100% !important;

                }
            }

            &>div{
                flex: none;
            }
            &>div:first-child{
                max-width: 660px;
                gap: $gap16;
                display: flex;
                flex-direction: column;
                span:last-child{
                    margin-top: $gap24;
                }
            }
            &>div:last-child{
                max-width: 620px;
                overflow: hidden;
                border-radius: $corners8;
            }
        }

        li{
            padding: $gap10 - 5;
            list-style: none;
        }

        .logos{
            padding: 0;
            margin: 0;
            img{
                width: revert-layer;                
            }
        }

        .bullets{
            padding: 0;
            margin: $gap20 0;
            display: flex;
            flex-direction: column;
            li{
                padding-left: 10px;
                list-style-position: inside;
            }
            li:before{
                top: 4px;
                content: "";
                width: 20px;
                height: 20px;
                position: relative;
                display: inline-block;
                margin-right: $gap10;
                background: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 1.25C5.66797 1.25 1.75 5.16797 1.75 10C1.75 14.832 5.66797 18.75 10.5 18.75C15.332 18.75 19.25 14.832 19.25 10C19.25 5.16797 15.332 1.25 10.5 1.25ZM14.2793 7.14258L10.166 12.8457C10.1085 12.9259 10.0327 12.9913 9.94493 13.0364C9.85713 13.0815 9.75984 13.1051 9.66113 13.1051C9.56242 13.1051 9.46513 13.0815 9.37733 13.0364C9.28953 12.9913 9.21374 12.9259 9.15625 12.8457L6.7207 9.4707C6.64648 9.36719 6.7207 9.22266 6.84766 9.22266H7.76367C7.96289 9.22266 8.15234 9.31836 8.26953 9.48242L9.66016 11.4121L12.7305 7.1543C12.8477 6.99219 13.0352 6.89453 13.2363 6.89453H14.1523C14.2793 6.89453 14.3535 7.03906 14.2793 7.14258V7.14258Z" fill="%235DC567"></path></svg>');
            }
        }

        .custom-bullets{
            padding: 0;
            margin: $gap20 0;
            display: flex;
            flex-wrap: wrap;

            @include media($mobile){
                display: block;
            }

            li{
                width: 50%;
                gap: $gap10;
                display: flex;
                align-items: flex-start;
              
                @include media($mobile){
                    width: 100%;
                }

                &::before{
                    display: none;
                }
                img{
                    width: auto;
                }
                &>em,&>i{
                    display: block;
                    margin: 0 !important;
                    font-style: normal;

                }
                strong{
                    display: block;
                }
            }
        }

        .text-only{
            padding: 0 $gap16;
            .heading{
                margin: $gap16 0;
            }

            .button{
                margin: $gap40;
                display: inline-block;
            }

            h2{
                padding-bottom: $gap10;
            }
        }

        .value-props{
            margin: 0;
            padding: 0;
            gap: $gap40;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            @include media($mobile){
                gap: $gap10;
                padding: 0 $gap40;
                flex-direction: column;
            }

            li{
                gap: $gap10;
                display: flex;
                align-items: center;
                flex-direction: row;
                &::before{
                    display: none;
                }
            }
        }

  }

}

.latest-articles{
  h2{
    font-size: 2.5em !important;
  }
  @include media($mobile){
        &>.container{
            padding: 0;
        }
    }
    .cards .card-cont>div{
        padding: 0;
    }

    .featured-image{
        margin: 0;
        display: block;
        height: 300px;
        overflow: hidden;
        
        @include media($mobile){
            height: auto;
        }
    }
    
    .articles-info{
        padding: $gap20;
        gap: $gap20;
        display: flex;
        flex-direction: column;
        h4,.read-time,.category{
            margin: 0;
            margin-bottom: -$gap10;
        }
        h4 a{
            color: $gray300;
            font-size: $fsize18;
            text-decoration: none;
            @include ellipsis(2);
        }
        .category a{                
            color: $blue300;
            font-size: $fsize12;
            font-weight: $fSemiBold;
            text-transform: uppercase;
            text-decoration: none;
        }
        .read-time{
            color:$gray300;
            font-size: $fsize12;
        }
        .description{
            color: $gray300;
            font-size: $fsize14;
            @include ellipsis(3);
        }
        .btn{
            display: block;
        }
        
    }
}

 ul.bullets{
    margin: $gap40 0;
    padding-left: $gap20;
    
    svg{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    li{
        gap: $gap10;
        // display: flex;
        list-style: none;
        align-items: flex-start;
        padding-bottom: $gap24;
        position: relative;
        padding-left: $gap30;

        &::before{
            float: left;
            content: "";
            top: 0px;
            left: -10px;
            height: 26px;
            width: 26px;
            display: block;
            position: absolute;
            background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM16.5352 8.57109L11.5992 15.4148C11.5302 15.5111 11.4393 15.5896 11.3339 15.6437C11.2286 15.6978 11.1118 15.7261 10.9934 15.7261C10.8749 15.7261 10.7582 15.6978 10.6528 15.6437C10.5474 15.5896 10.4565 15.5111 10.3875 15.4148L7.46484 11.3648C7.37578 11.2406 7.46484 11.0672 7.61719 11.0672H8.71641C8.95547 11.0672 9.18281 11.182 9.32344 11.3789L10.9922 13.6945L14.6766 8.58516C14.8172 8.39062 15.0422 8.27344 15.2836 8.27344H16.3828C16.5352 8.27344 16.6242 8.44688 16.5352 8.57109V8.57109Z" fill="%235DC567"></path></svg>');
        }
        span{
            top: 4px;
            width: 26px;
            position: relative;                     
        }
        p{
            flex: 1;
        }
    }

}

