/* styles tools */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  text-align: center;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}
.button.readmore {
  color: #1A1C1E;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #CDD6E0;
}
.button.outline {
  display: block;
  padding: 10px 0;
  border: 1px solid #B7B8FE;
}

.gcheck-submit-btn {
  color: #FFFFFF;
  background: #4F51FD;
  border-radius: 4px;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.gcheck-submit-btn:hover:not(:disabled) {
  background: #6D6FFD;
  box-shadow: none;
}

/* global styles */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  text-align: center;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}
.button.readmore {
  color: #1A1C1E;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #CDD6E0;
}
.button.outline {
  display: block;
  padding: 10px 0;
  border: 1px solid #B7B8FE;
}

.gcheck-submit-btn {
  color: #FFFFFF;
  background: #4F51FD;
  border-radius: 4px;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.gcheck-submit-btn:hover:not(:disabled) {
  background: #6D6FFD;
  box-shadow: none;
}

/*
* header
*/
header {
  top: 0;
  z-index: 99;
  width: 100%;
  color: #000000;
  background: #FFFFFF;
  border-bottom: 1px solid #CDD6E0;
}
header ul {
  margin: 0;
  padding-left: 0;
}
header ul li:before {
  display: none;
}
header#typical .gCheck-logo .gcText {
  fill: #000000;
}
header#typical nav #desktop-nav li > a {
  color: #000000;
  padding-top: 8px;
}
header#typical nav .hamburger-icon span {
  background: #000000 !important;
}
header#home {
  height: 1330px;
  background: url(../images/home-header-bg.jpg) no-repeat top center #30319A;
  background-size: cover;
}
@media screen and (max-width: 1023px) {
  header#home {
    height: 100%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  header#home {
    margin-bottom: 60px;
  }
}
header#home .screenshot {
  margin-top: 100px;
}
header#home > .container > div {
  color: #FFFFFF;
  margin: 50px auto;
  max-width: 1024px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header#home > .container > div {
    max-width: 100%;
    width: 100%;
  }
}
header#home > .container > div h1 {
  display: block;
  margin: 0 auto 16px auto;
  font-size: 3.5em;
  font-weight: 400;
}
header#home > .container > div h1 > i {
  font-weight: 700;
  /*
  &:last-child{
      font-weight: $fBold;
      background-image: linear-gradient(to right, #3FC5FD, #D20DF5);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent; 
  }
  */
}
@media screen and (max-width: 767px) {
  header#home > .container > div h1 {
    font-size: 2.5em;
    padding: 0 8px;
  }
}
header#home > .container > div p {
  font-size: 1.25em;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  header#home > .container > div p {
    font-size: 16px;
  }
}
header#home > .container > div span {
  gap: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header#home > .container > div span {
    display: none;
    flex-wrap: wrap;
  }
  header#home > .container > div span > p {
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-items: center;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  header#home > .container > div span > p {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header#home > .container > div span > p {
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}
header#home > .container > div .buttons {
  gap: 16px;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header#home > .container > div .buttons {
    flex-wrap: wrap;
  }
  header#home > .container > div .buttons > a {
    width: 100%;
  }
}
header#home .screenshot > img {
  margin: 0 auto;
  max-width: 1080px;
}
@media screen and (max-width: 1023px) {
  header#home .screenshot > img {
    padding: 0 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  header#home .screenshot > img {
    display: none;
  }
}

/*
* Main Menu
* 09.19.20 last modified - carl
*/
#header-cont {
  width: 100%;
  background: transparent;
  padding: 20px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  #header-cont {
    top: 0;
    position: sticky;
    padding: 10px 16px;
    border-color: 1px solid #f9f9f9;
  }
}
#header-cont > em {
  z-index: 1;
  width: 100%;
  height: 96px;
  display: block;
  top: -100px;
  left: 0;
  background: #FFFFFF;
  position: absolute;
}
#header-cont > .container {
  display: flex;
  align-items: center;
  z-index: 999;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 1320px) {
  #header-cont > .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  #header-cont > .container {
    padding: 0;
  }
}
#header-cont .gCheck-logo {
  flex: 1;
  z-index: 99;
  position: relative;
}
#header-cont .gCheck-logo svg {
  max-width: 100px;
  transition: all 0.2s ease 0s;
}
#header-cont.scroll, #header-cont.active {
  top: 0;
  z-index: 99;
  background: #FFFFFF;
  border-bottom: 1px solid #CDD6E0;
}
#header-cont.scroll a, #header-cont.active a {
  color: #000000;
}
#header-cont.scroll .button.blue, #header-cont.active .button.blue {
  color: #FFFFFF;
}
#header-cont.scroll .button.white, #header-cont.active .button.white {
  color: #4F51FD;
}
#header-cont.scroll .gCheck-logo .gcText, #header-cont.active .gCheck-logo .gcText {
  fill: #000000;
}
#header-cont.scroll nav .icon-user, #header-cont.active nav .icon-user {
  color: #777E8C;
}
#header-cont.scroll nav .icon-menu, #header-cont.active nav .icon-menu {
  color: #000000;
}
#header-cont.scroll nav .hamburger-icon span, #header-cont.active nav .hamburger-icon span {
  background: #1A1C1E;
}
@media screen and (max-width: 767px) {
  #header-cont.active {
    position: fixed !important;
  }
}
#header-cont.scroll {
  top: 0;
  position: fixed;
}

nav {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
nav #desktop-nav {
  z-index: 99;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1230px) {
  nav #desktop-nav {
    display: none;
  }
}
nav #desktop-nav ul {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0;
}
nav #desktop-nav li {
  padding: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
nav #desktop-nav li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}
nav #desktop-nav li:hover .sub-menu {
  display: flex;
}
nav #desktop-nav .sub-menu {
  z-index: 1;
  left: -20px;
  top: 45px;
  position: absolute;
  background: #f9f9f9;
  width: 700px;
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
}
nav #desktop-nav .sub-menu:hover {
  display: flex;
}
nav #desktop-nav .sub-menu {
  transition: all 0.3s ease 0s;
}
nav #desktop-nav .sub-menu li {
  width: 49%;
  padding: 0;
}
nav #desktop-nav .sub-menu a {
  display: block;
  font-size: 14px;
  position: relative;
  color: #000000;
  font-weight: 600;
  padding-left: 44px;
  transition: all 0.3s ease 0s;
}
nav #desktop-nav .sub-menu a:hover {
  background: #f5f5f5;
  border-radius: 4px;
}
nav #desktop-nav .sub-menu a img {
  top: 8px;
  left: 0;
  width: 40px;
  position: absolute;
}
nav #desktop-nav .sub-menu span[class*=-description] {
  display: flex;
  width: 100%;
  font-weight: normal;
}
nav #mobile-nav {
  z-index: 10;
  top: 53px;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #FFFFFF;
  overflow-y: auto;
  padding-bottom: 200px;
}
nav #mobile-nav.active {
  display: block;
}
nav #mobile-nav a {
  text-decoration: none;
}
nav #mobile-nav ul {
  margin: 0;
}
nav #mobile-nav #buttons {
  width: 100%;
  bottom: 0;
  z-index: 99;
  position: fixed;
  padding: 0 10px;
  background: #FFFFFF;
}
nav #mobile-nav .button {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
nav #mobile-nav .button.blue {
  color: #FFFFFF;
}
nav #mobile-nav .button.white {
  color: #4F51FD;
}
nav #mobile-nav .main-menu {
  overflow: hidden;
}
nav #mobile-nav .main-menu li > a:first-child {
  display: none;
}
nav #mobile-nav label {
  display: block;
  position: relative;
  border-bottom: 1px solid #CDD6E0;
}
nav #mobile-nav label svg {
  z-index: 10;
  width: 20px;
  height: 20px;
  margin: auto;
  right: 10px;
  left: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
}
nav #mobile-nav label a {
  width: 80%;
  display: block;
  color: #1A1C1E;
  position: relative;
  font-size: 1.125em;
  font-weight: 600;
  padding: 24px 16px;
}
nav #mobile-nav .sub-menu {
  padding: 20px 10px;
}
nav #mobile-nav .sub-menu p {
  padding: 0;
}
nav #mobile-nav .sub-menu img {
  top: 20px;
  left: 0;
  width: 40px;
  position: absolute;
}
nav #mobile-nav .sub-menu li {
  padding: 10px 0;
  position: relative;
}
nav #mobile-nav .sub-menu li > a {
  color: #000000;
  display: block !important;
  margin-left: 60px;
}
nav #mobile-nav .sub-menu span[class*=-description] {
  display: block;
  font-size: 14px;
  font-weight: normal;
}
nav #mobile-nav .sub-menu span[class*=-description] > p:first-child {
  font-weight: 600;
}
nav #mobile-nav .toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
nav #mobile-nav .content-to-show-hide {
  display: none;
}
nav #mobile-nav .toggle:checked ~ .content-to-show-hide {
  display: block;
}
nav #mobile-nav .toggle:checked ~ label svg {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
@media screen and (max-width: 1230px) {
  nav > .button {
    display: none;
  }
}
nav .hamburger-icon,
nav .icon-user {
  z-index: 99;
  position: relative;
}
nav .icon-user {
  color: #CDD6E0;
}
nav .icon-menu {
  display: none;
}
@media screen and (max-width: 1230px) {
  nav .icon-menu {
    display: block;
  }
}
nav .icon-menu input[type=checkbox] {
  display: none;
}
nav .hamburger-icon span {
  display: block;
  height: 3px;
  width: 25px;
  background: #FFFFFF;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg); /* Move down and rotate */
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(2) {
  opacity: 0; /* Hide middle line */
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); /* Move up and rotate */
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  text-align: center;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}
.button.readmore {
  color: #1A1C1E;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #CDD6E0;
}
.button.outline {
  display: block;
  padding: 10px 0;
  border: 1px solid #B7B8FE;
}

.gcheck-submit-btn {
  color: #FFFFFF;
  background: #4F51FD;
  border-radius: 4px;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.gcheck-submit-btn:hover:not(:disabled) {
  background: #6D6FFD;
  box-shadow: none;
}

/*
* footer
*/
footer {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  padding: 60px 0;
  background: #00014F;
}
@media screen and (max-width: 1320px) {
  footer {
    padding: 60px 16px;
  }
}
footer > .container {
  padding: 0;
}
footer ul {
  margin: 0;
  padding-left: 0;
}
footer ul li:before {
  display: none;
}
footer ul li {
  list-style-position: inside;
  padding-left: 0;
}
footer ul li::before {
  display: none;
  content: "";
  padding-left: 6px;
}
footer ul li::marker {
  display: none;
  content: "";
}
footer .gCheck-logo {
  width: 110px;
  display: block;
}
footer .gCheck-logo .gcText {
  fill: #FFFFFF;
}
footer .cols {
  gap: 40px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1023px) {
  footer .cols {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  footer .cols {
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) {
  footer .cols > div {
    width: 28.9% !important;
  }
}
@media screen and (max-width: 767px) {
  footer .cols > div {
    width: 100% !important;
  }
}
footer .cols > div:first-child {
  width: 420px;
}
footer .cols > div:first-child span:nth-child(3) {
  display: block;
  margin-top: 40px;
}
footer .cols > div:nth-child(2) {
  width: 260px;
}
footer .cols > div:nth-child(3), footer .cols > div:nth-child(4) {
  width: 160px;
}
footer .socmed {
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 40px;
}
footer .footer-links {
  font-size: 14px;
}
footer .footer-links h5 {
  color: #777E8C;
  margin-bottom: 24px;
}
footer .footer-links a {
  display: block;
  color: #FFFFFF;
  margin-bottom: 8px;
  text-decoration: none;
}
footer #copyright {
  margin: 40px auto 0 auto;
  padding-top: 40px;
  font-size: 14px;
  border-top: 1px solid #3D3F7A;
}
footer #copyright > .cols {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer #copyright > .cols {
    flex-direction: column;
  }
}
footer #copyright > .cols > div {
  flex: 1;
  gap: 24px;
  display: flex;
}
@media screen and (max-width: 900px) {
  footer #copyright > .cols > div {
    width: 100% !important;
    justify-content: center !important;
  }
}
@media screen and (max-width: 767px) {
  footer #copyright > .cols > div {
    justify-content: flex-start !important;
  }
}
footer #copyright > .cols > div:last-child {
  justify-content: flex-end;
  text-align: right;
  gap: 20px;
  display: flex;
}
footer #copyright > .cols > div:last-child a {
  color: #3FC5FD;
  text-decoration: none;
}
footer #copyright .psba {
  width: 50px;
}
footer #copyright .bbb {
  width: 114px;
}

/* blog page supported css */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
body.blog .heading {
  margin-bottom: 0;
  padding-bottom: 40px;
}
body.blog .search {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  body.blog .search {
    margin: 0 20px;
    max-width: 100%;
  }
}
body.blog .search svg {
  top: 0;
  left: 10px;
  bottom: 0;
  right: auto;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
body.blog .search input[type=text],
body.blog .search input[type=search] {
  padding: 10px 10px 10px 40px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #CDD6E0;
}
body.blog .search input[type=submit] {
  display: none;
}
body.blog .cols {
  gap: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  body.blog .cols {
    display: block;
  }
}
body.blog .cols > div {
  padding: 0;
  margin: 0;
}
body.blog .cols.cols2 > div {
  flex: 1;
}
body.blog .cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.blog .recent-articles {
  padding-bottom: 40px;
  background: #FFFFFF;
}
body.blog .recent-articles .cards {
  margin-bottom: 0;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.articles-posts,
.recent-articles,
.latest-articles {
  text-align: left;
}
.articles-posts section,
.recent-articles section,
.latest-articles section {
  padding: 80px 0;
}
.articles-posts section:nth-child(even),
.recent-articles section:nth-child(even),
.latest-articles section:nth-child(even) {
  background: #FFFFFF;
}
.articles-posts a,
.recent-articles a,
.latest-articles a {
  color: #4F51FD;
  text-decoration: none;
}
.articles-posts .heading,
.recent-articles .heading,
.latest-articles .heading {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.articles-posts .heading h2,
.recent-articles .heading h2,
.latest-articles .heading h2 {
  flex: 1;
}
@media screen and (max-width: 767px) {
  .articles-posts > .container,
  .recent-articles > .container,
  .latest-articles > .container {
    padding: 0;
  }
}
.articles-posts .cards > div:nth-child(even),
.recent-articles .cards > div:nth-child(even),
.latest-articles .cards > div:nth-child(even) {
  background: #1A1C1E;
}
.articles-posts .cards .card-cont > div,
.recent-articles .cards .card-cont > div,
.latest-articles .cards .card-cont > div {
  padding: 0;
}
.articles-posts .cards .card-cont,
.recent-articles .cards .card-cont,
.latest-articles .cards .card-cont {
  /*
  &.con>div{
      padding: 0;
  }
  */
}
.articles-posts .featured-image,
.recent-articles .featured-image,
.latest-articles .featured-image {
  margin: 0;
  display: block;
  height: 300px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .articles-posts .featured-image,
  .recent-articles .featured-image,
  .latest-articles .featured-image {
    height: auto;
    margin-bottom: 10px;
  }
}
.articles-posts .articles-info,
.recent-articles .articles-info,
.latest-articles .articles-info {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.articles-posts .articles-info h4, .articles-posts .articles-info .read-time, .articles-posts .articles-info .category,
.recent-articles .articles-info h4,
.recent-articles .articles-info .read-time,
.recent-articles .articles-info .category,
.latest-articles .articles-info h4,
.latest-articles .articles-info .read-time,
.latest-articles .articles-info .category {
  margin: 0;
}
.articles-posts .articles-info h4 a,
.recent-articles .articles-info h4 a,
.latest-articles .articles-info h4 a {
  color: #1A1C1E;
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articles-posts .articles-info .category a,
.recent-articles .articles-info .category a,
.latest-articles .articles-info .category a {
  color: #4F51FD;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.articles-posts .articles-info .read-time,
.recent-articles .articles-info .read-time,
.latest-articles .articles-info .read-time {
  color: #1A1C1E;
  font-size: 0.75em;
}
.articles-posts .articles-info .description,
.recent-articles .articles-info .description,
.latest-articles .articles-info .description {
  color: #1A1C1E;
  font-size: 14px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articles-posts .articles-info .btn,
.recent-articles .articles-info .btn,
.latest-articles .articles-info .btn {
  display: block;
}

body.blog .latest-articles .cards {
  margin-bottom: 0;
}
body.blog .latest-articles .cards.card-cont {
  padding: 0;
}
body.blog .latest-articles .heading {
  text-align: left;
  padding-bottom: 40px;
  margin: 0;
}
body.blog .latest-articles section {
  padding: 40px 0;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
body.error404 main {
  padding: 100px 0;
  text-align: center;
  background: #EDEEFF;
}
body.error404 h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

/* care page supported css */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.cards {
  color: #1A1C1E;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .cards {
    margin: 0 auto;
  }
}
.cards > .container {
  padding: 0;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .card-cont {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1311px) {
  .cards .card-cont {
    padding: 0 16px;
  }
}
.cards .card-cont > div {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .cards .card-cont > div {
    padding: 20px;
  }
}
.cards .card-cont.cols2 > div {
  width: 48.4%;
}
.cards .card-cont.cols3 > div {
  width: 31.3%;
}
.cards .card-cont.cols4 > div {
  width: 22.7%;
}
.cards .card-cont.cols5 > div {
  width: 17.5%;
}
@media screen and (max-width: 1023px) {
  .cards .card-cont.cols5 > div {
    width: 47.1%;
  }
}
@media screen and (max-width: 1311px) {
  .cards .card-cont.cols2 > div, .cards .card-cont.cols3 > div, .cards .card-cont.cols4 > div {
    width: 47.2%;
  }
}
@media screen and (max-width: 767px) {
  .cards .card-cont.cols2 > div, .cards .card-cont.cols3 > div, .cards .card-cont.cols4 > div {
    width: 100%;
  }
}
.cards h4 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  margin-bottom: 10px;
}
.cards h4 p {
  font-size: 24px;
  line-height: normal;
}
.cards h4 > span:first-child {
  flex: 1;
}
@media screen and (max-width: 1311px) {
  .cards h4 br {
    display: none;
  }
}
.cards p {
  font-size: 14px;
}
.cards.top-icon h4 {
  flex-direction: column;
}
.cards.top-icon h4 > span:first-child {
  order: 2;
}
.cards.top-icon h4 > span:last-child {
  order: 1;
}
.cards.right-icon h4 {
  flex-direction: row;
  align-items: center;
}
.cards.right-icon h4 > span:first-child {
  order: 1;
}
.cards.right-icon h4 > span:last-child {
  order: 2;
}
.cards.no-icon h4 > span:last-child {
  display: none;
}
.cards.image .card-cont > div {
  padding: 0;
  height: 100%;
}
.cards.image h5 {
  margin-bottom: 10px;
}
.cards.image .desc {
  display: block;
  padding: 20px;
}
.cards .stat {
  font-size: 1.8em;
  color: #4F51FD;
}
.cards .step-duration {
  padding: 10px;
  display: block;
  margin-top: 10px;
  text-align: center;
  background: #EDEEFF;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.banner {
  padding: 80px 0;
}
.banner .photo {
  width: 528px;
}
.banner ul {
  padding: 0;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .banner ul {
    margin-top: 24px;
  }
}
.banner ul li {
  gap: 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 16px;
}
.banner ul li > span:first-child {
  height: 20px;
  width: 20px;
  display: block;
}
.banner ul li > span:first-child:last-child {
  flex: 1;
}
@media screen and (max-width: 1320px) {
  .banner {
    padding: 40px 16px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 20px 0;
    width: 370px;
    margin: 0 auto;
  }
}
.banner.img-left > .container [class*=-info] {
  order: 2;
}
.banner.img-left > .container span {
  order: 1;
}
.banner.img-right > .container [class*=-info] {
  order: 1;
}
.banner.img-right > .container span {
  order: 2;
}
.banner.full {
  display: flex;
  margin: 80px 0;
  flex-direction: row;
  background: #00014F;
  color: #FFFFFF !important;
  color: #CDD6E0 !important;
}
@media screen and (max-width: 1410px) {
  .banner.full {
    flex-direction: column;
  }
  .banner.full .banner-info {
    margin: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .banner.full {
    width: 100%;
  }
  .banner.full > span {
    display: none;
  }
}
.banner.full h2 {
  color: #FFFFFF !important;
}
.banner.full > div, .banner.full > span {
  flex: 1;
  max-width: 100%;
}
.banner.full img {
  width: 100%;
}
.banner.full strong {
  font-weight: 600;
}
.banner.full strong.txtcyan {
  color: #3FC5FD;
  display: block;
  margin: 40px 0;
  font-weight: 600;
}
.banner.full ul {
  margin: 0;
  font-size: 14px;
}
.banner.full .buttons p {
  font-size: 14px;
}
.banner.option3 > .container {
  flex-wrap: nowrap;
}
@media screen and (max-width: 1023px) {
  .banner.option3 > .container {
    flex-wrap: wrap;
  }
}
.banner.option3 > .container [class*=-info] {
  flex: auto;
  width: 673px;
}
.banner.option3 > .container .photo {
  width: 647px;
}
@media screen and (max-width: 1320px) {
  .banner.option3 > .container .photo {
    width: 100%;
  }
}
.banner.option4 > .container {
  background: #1A0912;
}
.banner > .container {
  padding: 0;
  color: #FFFFFF;
  overflow: hidden;
  background: #1A1C1E;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1023px) {
  .banner > .container {
    flex-wrap: wrap;
  }
  .banner > .container [class*=-info] {
    order: 2 !important;
    width: 100%;
    flex: none;
  }
  .banner > .container span {
    order: 1 !important;
    width: 100%;
  }
}
.banner [class*=-info] {
  flex: 1;
  display: flex;
  padding: 40px;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .banner [class*=-info] {
    flex-wrap: wrap;
    padding: 20px;
  }
  .banner [class*=-info] [class*=-info] {
    order: 2;
    width: 100%;
    flex: none;
  }
}
.banner [class*=-info] > em {
  z-index: 1;
  bottom: 0;
  right: 82px;
  position: absolute;
}
.banner [class*=-info] > div {
  display: block;
}
.banner [class*=-info] .buttons {
  z-index: 10;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width: 1320px) {
  .banner [class*=-info] .buttons {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .banner [class*=-info] .buttons {
    margin-top: 20px;
  }
  .banner [class*=-info] .buttons > a {
    width: 100%;
    display: block;
  }
}
.banner [class*=-info] h2 {
  color: #3FC5FD;
  font-size: 2.5em;
  padding-bottom: 24px;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .banner [class*=-info] h2 {
    font-size: 2em;
  }
}
.banner span {
  max-width: 673px;
}
@media screen and (max-width: 1320px) {
  .banner span {
    max-width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .banner span {
    order: 1;
    max-width: 100%;
  }
}
.banner h3 {
  margin-top: 40px;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
#faq {
  margin-bottom: 120px;
}
#faq h4 {
  margin: 0;
}
#faq.cards p {
  font-size: 16px;
}
#faq ul li:before {
  content: "";
  height: 14px;
  width: 14px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231f1f1f"><path d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 12 px */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 24 px 1.5em*/
/* 28 px */
/* 30 px */
/* 32 px */
/* 40 px */
/* 48 px */
/* 56 px */
/* 64 px */
/* font family weight */
/* media query */
.page-hero {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .page-hero {
    padding: 0;
  }
  .page-hero br {
    display: none;
  }
}
.page-hero.yes {
  background: #EDEEFF;
  padding: 40px 0;
}
.page-hero.Center {
  text-align: center;
  margin-bottom: 40px;
}
.page-hero.Center .logos {
  justify-content: center;
}
.page-hero.Center .bullets {
  gap: 20px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .page-hero.Center .bullets {
    flex-direction: column;
  }
}
.page-hero.Center .bullets li {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .page-hero.Center .bullets li {
    text-align: left;
  }
}
.page-hero.Center .bullets li::before {
  left: 0;
}
.page-hero > .container {
  padding: 0;
}
.page-hero > .container section.Left div:first-child {
  order: 2;
}
.page-hero > .container section.Left div:last-child {
  order: 1;
}
.page-hero h1, .page-hero h2 {
  color: #1A1C1E;
  font-size: 3em;
  font-weight: 600;
  line-height: normal;
}
.page-hero h1 pre, .page-hero h2 pre {
  height: auto;
}
.page-hero h1 p, .page-hero h2 p {
  padding: 0;
  margin: 0;
}
.page-hero h1 > span, .page-hero h2 > span {
  display: block;
  color: #4F51FD;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .page-hero h1, .page-hero h2 {
    font-size: 2em;
  }
}
.page-hero pre {
  display: block;
  color: #4F51FD;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.page-hero strong {
  font-size: 1.125em;
}
.page-hero p {
  padding: 0;
}
.page-hero .cols.cols2 {
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .page-hero .cols.cols2 {
    padding: 40px 16px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .page-hero .cols.cols2 > div {
    width: 100%;
    max-width: 100% !important;
  }
}
.page-hero .cols.cols2 > div {
  flex: none;
}
.page-hero .cols.cols2 > div:first-child {
  max-width: 660px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.page-hero .cols.cols2 > div:first-child span:last-child {
  margin-top: 24px;
}
.page-hero .cols.cols2 > div:last-child {
  max-width: 620px;
  overflow: hidden;
  border-radius: 8px;
}
.page-hero .logos {
  padding: 0;
  margin: 0;
}
.page-hero .logos li {
  padding: 0;
  list-style: none;
}
.page-hero .logos li:before {
  display: none;
}
.page-hero .logos img {
  width: revert-layer;
}
.page-hero .custom-bullets {
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .page-hero .custom-bullets {
    display: block;
  }
}
.page-hero .custom-bullets li {
  width: 50%;
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .page-hero .custom-bullets li {
    width: 100%;
  }
}
.page-hero .custom-bullets li::before {
  display: none;
}
.page-hero .custom-bullets li img {
  width: auto;
}
.page-hero .custom-bullets li > em, .page-hero .custom-bullets li > i {
  display: block;
  margin: 0 !important;
  font-style: normal;
}
.page-hero .custom-bullets li strong {
  display: block;
}
.page-hero .text-only {
  padding: 0 16px;
}
.page-hero .text-only .heading {
  margin: 16px 0;
}
.page-hero .text-only h1, .page-hero .text-only h2 {
  padding-bottom: 20px;
}
.page-hero .text-only .btns {
  margin: 40px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .page-hero .text-only .btns {
    flex-direction: column;
  }
}
.page-hero .text-only .btns .button {
  display: inline-block;
}
.page-hero .value-props {
  margin: 0;
  padding: 0;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .page-hero .value-props {
    gap: 10px;
    padding: 0 40px;
    flex-direction: column;
  }
}
.page-hero .value-props li {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page-hero .value-props li::before {
  display: none;
}

/*
* Global
*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold*/
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow*/
  -webkit-overflow-scrolling: touch;
}

html {
  line-height: 1.5;
  font-size: 16px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  color: #000000;
  line-height: 1.5;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text],
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=search],
input[type=submit],
input[type=email] {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
input[type=text]::-webkit-input-placeholder,
input[type=button]::-webkit-input-placeholder,
input[type=checkbox]::-webkit-input-placeholder,
input[type=radio]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=submit]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1A1C1E;
}
input[type=text]::-moz-placeholder,
input[type=button]::-moz-placeholder,
input[type=checkbox]::-moz-placeholder,
input[type=radio]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=submit]::-moz-placeholder,
input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #1A1C1E;
}
input[type=text]:-ms-input-placeholder,
input[type=button]:-ms-input-placeholder,
input[type=checkbox]:-ms-input-placeholder,
input[type=radio]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=submit]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #1A1C1E;
}
input[type=text]:-moz-placeholder,
input[type=button]:-moz-placeholder,
input[type=checkbox]:-moz-placeholder,
input[type=radio]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=submit]:-moz-placeholder,
input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #1A1C1E;
}

input[type=text],
input[type=email],
input[type=search] {
  width: 100%;
}

pre {
  white-space: pre-wrap; /* Allows text to wrap within the <pre> block */
  word-wrap: break-word; /* Ensures long words break and wrap */
  overflow-x: auto;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 767px) {
  pre {
    all: unset;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  padding: 0;
}

ul, ol {
  margin: 40px 20px 0;
  padding-left: 20px;
}

ul li {
  position: relative;
  list-style: none;
  padding-bottom: 10px;
  padding-left: 10px;
}
ul li:marker {
  display: none;
}
ul li:before {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231f1f1f"><path d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  top: 8px;
  left: -10px;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
}

ol li {
  list-style: inside decimal;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 3.75em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 2.5em; /* 40 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 2em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 1.5em; /* 24 */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-size: 1.125em; /* 18 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: normal;
  }
}

.fine-print {
  font-size: 1.125em; /* 14 px */
}

p {
  font-size: 1em;
  padding-bottom: 10px;
}

span[Class*=icon-] {
  cursor: pointer;
}

.txtWhite {
  color: #FFFFFF;
}

.txtBlack {
  color: #000000;
}

.txtCyan {
  color: #3FC5FD;
}

.hide {
  display: none;
}

.auto-width {
  width: auto !important;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1320px;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

.fine-print {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .fine-print {
    padding: 0;
    justify-content: center;
  }
}

.heading {
  text-align: center;
  padding: 60px 0;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .heading {
    margin: 40px 0;
    padding: 0 16px;
  }
}
.heading h2 {
  line-height: normal;
}
.heading h2 span {
  color: #4F51FD;
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .heading h2 span {
    font-size: 14px;
  }
}

.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

ul.bullets {
  margin: 0;
}
ul.bullets svg {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}
ul.bullets li {
  gap: 10px;
  padding-left: 30px;
}
ul.bullets li::before {
  top: 2px;
  left: 0;
  height: 26px;
  width: 26px;
  display: block;
  background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM16.5352 8.57109L11.5992 15.4148C11.5302 15.5111 11.4393 15.5896 11.3339 15.6437C11.2286 15.6978 11.1118 15.7261 10.9934 15.7261C10.8749 15.7261 10.7582 15.6978 10.6528 15.6437C10.5474 15.5896 10.4565 15.5111 10.3875 15.4148L7.46484 11.3648C7.37578 11.2406 7.46484 11.0672 7.61719 11.0672H8.71641C8.95547 11.0672 9.18281 11.182 9.32344 11.3789L10.9922 13.6945L14.6766 8.58516C14.8172 8.39062 15.0422 8.27344 15.2836 8.27344H16.3828C16.5352 8.27344 16.6242 8.44688 16.5352 8.57109V8.57109Z" fill="%235DC567"></path></svg>');
}

/*# sourceMappingURL=global.css.map */
