/* styles tools */
@import '../css/_tools/variable';
@import '../css/_tools/mixins';
@import '../css/_tools/buttons';


/* global styles */
@import 'header/header';
@import 'footer/footer'; 
@import '../css/blog/bloghome';
@import '../css/blog/latest-articles';
@import '../../core-pages/cards/css/cards.scss';
@import '../../core-pages/banner/css/banner.scss';
@import '../../core-pages/faq/css/faq'; 
@import '../../core-pages/page-hero/css/page-hero'; 




/*
* Global
* 09.19.20 last modified - carl
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

*,
*:after,
*:before {
        margin: 0;
        padding: 0;
        @include box-sizing(border-box);
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold*/
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* prevent tap highlight color / shadow*/
        -webkit-overflow-scrolling: touch;
}

html {
    line-height: 1.5;
    font-size: $base-fsize;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
    
    color: $black;
    line-height: 1.5;
    position: relative;
    font-family: $default-font;
    font-size: $base-fsize;
    background: $white75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="text"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="search"],
input[type="submit"],
input[type="email"]{
        outline: none;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        border:0;
        
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray300;
        }
        &::-moz-placeholder { /* Firefox 19+ */
        color: $gray300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
        color: $gray300;
        }
        &:-moz-placeholder { /* Firefox 18- */
        color: $gray300;
        }
}

input[type="text"], 
input[type="email"],
input[type="search"]{
        width: 100%;
}

pre{
    
  white-space: pre-wrap; /* Allows text to wrap within the <pre> block */
  word-wrap: break-word; /* Ensures long words break and wrap */
  overflow-x: auto; 
  font-family: $default-font;

  @include media($mobile){
    all: unset;
  }
}


img{
        width: 100%;
        max-width: 100%;
}


li{
  padding: 0;
}

ul, ol{
  margin: $gap40 $gap20 0;
  padding-left: $gap20;
}


ul li{
    position: relative;
    list-style: none;
    padding-bottom: $gap10;
    padding-left: $gap30;

    &:marker{
        display: none;
    }
    &:before{
        content:"";
        height: 14px;
        width: 14px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231f1f1f"><path d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;

        top: 2px;
        left: -10px;
        height: 26px;
        width: 26px;
        display: block;
        position: absolute;

    }

}



ol li{
    list-style:  inside decimal;
}

main{
        margin: 0 auto;        
}


h1 {
  font-size: 4em; /* 60 px */
  @include inter($fSemiBold);
}

h2 {
  font-size: 2.5em; /* 40 px */
  @include inter($fSemiBold);

  @include media($mobile){
      font-size: $fsize32;
  }

}

h3 {
  font-size: 1.5em; /* 32 px */
  @include inter($fRegular);
}

h4 {
  font-size: 24px; /* 24 px 1.5em*/
  @include inter($fSemiBold);
}

h5 {
  font-size: 1.25em; /* 20 px */
  @include inter($fRegular);
}S

h1,h2,h3,h4,h5,h6{
  @include media($mobile){
    line-height: normal;
  }
}

.fine-print{
  font-size: 1.125em; /* 14 px */
}

p {
  font-size: 1em;
  padding-bottom: $gap10;
}

span[Class*=icon-]{
    cursor: pointer;    
}

.container{
  padding: 0;  
  margin: 0 auto;
  max-width: 1320px;

  @include media($mobile){
    padding: 0 $gap16;
  }


}

.fine-print{
  gap: $gap10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: $fsize14;
  padding: $gap20 0;

  @include media($mobile){
    padding: 0;
    justify-content: center;
  }
  
}

.heading{
  text-align: center;
  margin-top: $gap100 + 2;
  margin-bottom: $gap80;

  @include media($mobile){
    margin-bottom: $gap40;
    padding: 0 $gap16;
  }

  h2{
    line-height: normal;
    span{
      color: $blue300;
      display: block;
      font-weight: $fSemiBold;
      font-size: $base-fsize;
      text-transform: uppercase;

      @include media($mobile){
        font-size: $fsize14;
      }
    }
  }
}

.txtWhite{
  color: $white;
}

.txtBlack{
  color: $black;
}

.txtCyan{
  color: $cyan;
}

.center{
  margin: 0 auto;
  display: block;
  text-align: center;
}

.hide{
    display: none;
}

.home{
  .banner{
    padding: 0;
  }
}





/* check bullets */
 ul.bullets{
    margin: 0;
    padding-left: $gap20;
    
    svg{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    li{
        &::before{
            background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM16.5352 8.57109L11.5992 15.4148C11.5302 15.5111 11.4393 15.5896 11.3339 15.6437C11.2286 15.6978 11.1118 15.7261 10.9934 15.7261C10.8749 15.7261 10.7582 15.6978 10.6528 15.6437C10.5474 15.5896 10.4565 15.5111 10.3875 15.4148L7.46484 11.3648C7.37578 11.2406 7.46484 11.0672 7.61719 11.0672H8.71641C8.95547 11.0672 9.18281 11.182 9.32344 11.3789L10.9922 13.6945L14.6766 8.58516C14.8172 8.39062 15.0422 8.27344 15.2836 8.27344H16.3828C16.5352 8.27344 16.6242 8.44688 16.5352 8.57109V8.57109Z" fill="%235DC567"></path></svg>');
        }
      
    }

}

