@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  display: inline;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
#grid-cont {
  width: 100%;
  padding-bottom: 0 10px 60px;
}
@media screen and (max-width: 1023px) {
  #grid-cont {
    overflow-y: auto;
  }
}
@media screen and (max-width: 767px) {
  #grid-cont {
    overflow-y: inherit;
  }
}

.grid {
  margin: 0 auto;
  max-width: 1320px;
  display: grid;
}
@media screen and (max-width: 1023px) {
  .grid {
    overflow-y: auto;
    padding-top: 20px;
  }
}
.grid.set1 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.grid.set1 .grid-item:nth-child(1) {
  grid-area: 1/2/2/5;
}
.grid.set1 .grid-item:nth-child(2) {
  grid-area: 1/1/3/2;
  width: 320px;
}
.grid.set1 .grid-item:nth-child(3) {
  grid-area: 1/5/2/6;
  width: 310px;
}
.grid.set1 .grid-item:nth-child(4) {
  grid-area: 2/2/3/3;
  width: 312px;
}
.grid.set1 .grid-item:nth-child(5) {
  grid-area: 2/3/3/6;
}
.grid.set1 .desktop {
  display: block;
}
.grid.set1 .mobile {
  display: none;
}
@media screen and (max-width: 1350px) {
  .grid.set1 {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 60px;
  }
  .grid.set1 .desktop {
    display: none;
  }
  .grid.set1 .mobile {
    display: block;
  }
  .grid.set1 > .grid-item {
    flex: 1;
    height: 280px !important;
    width: 33.33%;
  }
  .grid.set1 > .grid-item img {
    width: auto;
    height: 280px;
  }
  .grid.set1 > .grid-item:nth-child(2), .grid.set1 > .grid-item:nth-child(5) {
    display: none;
  }
  .grid.set1 > .grid-item label {
    height: 280px !important;
    display: block;
    width: 100% !important;
  }
}
@media screen and (max-width: 1290px) {
  .grid.set1 {
    width: 1290px;
  }
  .grid.set1 > .grid-item {
    width: 370px !important;
  }
}
@media screen and (max-width: 767px) {
  .grid.set1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
  }
  .grid.set1 > .grid-item {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
.grid.set1 {
  /*
   @include media(480px){
      &>.grid-item{
         width: 100% !important;
         img{
             width: 100% !important;
             height: auto;       
         }
      } 
   }

   */
}

/* grid set 1 */
.set1 [class*=grid-] {
  height: 330px;
  color: green;
  border-radius: 8px;
}
.set1 [class*=grid-] i {
  bottom: 40px;
  right: 40px;
  position: absolute;
}

/* Each card container */
.card {
  width: 200px;
  height: 130px;
  perspective: 1000px;
  cursor: pointer;
  display: inline-block;
}

/* Hide the checkbox */
.card input {
  display: none;
}

/* Inner wrapper */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Flip on toggle */
.card input:checked ~ .card-inner {
  transform: rotateY(180deg);
}

/* Front & Back common styles */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  position: absolute;
}
.card-front > span,
.card-back > span {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  padding: 40px;
}
.card-front > span strong,
.card-back > span strong {
  color: #3FC5FD;
}

/* Back (new element) */
.card-back {
  transform: rotateY(180deg);
}

#card-item-1 {
  width: 658px;
  height: 330px;
  line-height: 39px;
}
#card-item-1 .card-front,
#card-item-1 .card-back {
  color: #FFFFFF;
}
#card-item-1 .card-front span,
#card-item-1 .card-back span {
  width: 390px;
  font-size: 2em;
}
@media screen and (max-width: 767px) {
  #card-item-1 .card-front span,
  #card-item-1 .card-back span {
    width: 100%;
    font-size: 1.75em;
  }
}

#card-item-3,
#card-item-4 {
  width: 310px;
  height: 330px;
}

#card-item-3 .card-front,
#card-item-3 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FFFFFF;
  font-weight: 400;
}

#card-item-4 .card-front,
#card-item-4 .card-back {
  color: #1A1C1E;
  font-size: 1.25em;
  background: #FEEBB6;
  font-weight: 400;
}
#card-item-4 .card-front strong,
#card-item-4 .card-back strong {
  color: #FF4D00;
}

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* variables */
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/
/* base */
/* 14 px */
/* 18 px*/
/* 20 px */
/* 28 px */
/* 32 px */
/* 40 px */
/* 56 px */
/* font family weight */
/* media query */
.button {
  margin: 0;
  border: 0;
  display: inline;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 600;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.button.blue {
  color: #FFFFFF;
  background: #4F51FD;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.blue:hover {
  background: #6D6FFD;
}
.button.white {
  color: #4F51FD;
  background: #FFFFFF;
  border: 1px solid #4F51FD;
  transition: all 0.3s ease 0s;
}
.button.white:hover {
  background: #F2F3FF;
}

/*
* header
* 09.19.20 last modified - carl
*/
header {
  background: url(../images/home-header-bg.jpg) no-repeat top center #30319A;
  background-size: cover;
  height: 1330px;
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (max-width: 1023px) {
  header {
    height: 100%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  header {
    margin-bottom: 60px;
  }
}
header > .container > div {
  color: #FFFFFF;
  margin: 50px auto;
  max-width: 984px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header > .container > div {
    max-width: 100%;
    width: 100%;
  }
}
header > .container > div h1 {
  display: block;
  margin: 0 auto 16px auto;
  font-size: 3.5em;
  font-weight: 400;
}
header > .container > div h1 > i {
  font-weight: 600;
}
header > .container > div h1 > i:last-child {
  font-weight: 700;
  background-image: linear-gradient(to right, #3FC5FD, #D20DF5); /* Red to Blue gradient */
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* Fallback for browsers that don't support -webkit-text-fill-color */
}
@media screen and (max-width: 767px) {
  header > .container > div h1 {
    font-size: 2.5em;
  }
}
header > .container > div p {
  font-size: 1.25em;
  margin-bottom: 40px;
}
header > .container > div span {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header > .container > div span {
    display: none;
    flex-wrap: wrap;
  }
  header > .container > div span > p {
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-items: center;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  header > .container > div span > p {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header > .container > div span > p {
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.875em;
}
header > .container > div .buttons {
  gap: 10px;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  header > .container > div .buttons {
    flex-wrap: wrap;
  }
  header > .container > div .buttons > a {
    width: 100%;
  }
}
header .screenshot > img {
  margin: 0 auto;
  max-width: 1080px;
}
@media screen and (max-width: 1023px) {
  header .screenshot > img {
    padding: 0 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  header .screenshot > img {
    display: none;
  }
}

/*
* Main Menu
* 09.19.20 last modified - carl
*/
#header-cont {
  width: 100%;
  background: transparent;
  padding: 20px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  #header-cont {
    top: 0;
    padding: 10px 20px;
    position: sticky;
    border-color: 1px solid #f9f9f9;
  }
}
#header-cont > em {
  z-index: 1;
  width: 100%;
  height: 96px;
  display: block;
  top: -100px;
  left: 0;
  background: #FFFFFF;
  position: absolute;
}
#header-cont > .container {
  display: flex;
  align-items: center;
  z-index: 999;
  position: relative;
}
@media screen and (max-width: 767px) {
  #header-cont > .container {
    padding: 0;
  }
}
#header-cont #gCheck-logo {
  flex: 1;
  z-index: 99;
  position: relative;
}
#header-cont #gCheck-logo svg {
  max-width: 100px;
  transition: all 0.2s ease 0s;
}
#header-cont.scroll, #header-cont.active {
  top: 0;
  z-index: 99;
  background: #FFFFFF;
  border-bottom: 1px solid #CDD6E0;
}
#header-cont.scroll a, #header-cont.active a {
  color: #000;
}
#header-cont.scroll .button.blue, #header-cont.active .button.blue {
  color: #FFFFFF;
}
#header-cont.scroll .button.white, #header-cont.active .button.white {
  color: #4F51FD;
}
#header-cont.scroll #gCheck-logo .gcText, #header-cont.active #gCheck-logo .gcText {
  fill: #000;
}
#header-cont.scroll nav .icon-user, #header-cont.active nav .icon-user {
  color: #777E8C;
}
#header-cont.scroll nav .hamburger-icon span, #header-cont.active nav .hamburger-icon span {
  background: #1A1C1E;
}
@media screen and (max-width: 767px) {
  #header-cont.active {
    position: fixed !important;
  }
}
#header-cont.scroll {
  top: 0;
  position: fixed;
}

nav {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
nav #desktop-nav {
  z-index: 99;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1230px) {
  nav #desktop-nav {
    display: none;
  }
}
nav #desktop-nav ul {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
nav #desktop-nav li {
  padding: 10px;
  position: relative;
  display: inline-block;
}
nav #desktop-nav li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.875em;
}
nav #desktop-nav li:hover .sub-menu {
  display: flex;
}
nav #desktop-nav .sub-menu {
  z-index: 1;
  left: -200px;
  top: 45px;
  position: absolute;
  background: #f9f9f9;
  width: 700px;
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
}
nav #desktop-nav .sub-menu:hover {
  display: flex;
}
nav #desktop-nav .sub-menu {
  transition: all 0.3s ease 0s;
}
nav #desktop-nav .sub-menu li {
  width: 49%;
  padding: 0;
}
nav #desktop-nav .sub-menu a {
  display: block;
  font-size: 0.875em;
  position: relative;
  color: #000;
  font-weight: 600;
  padding-left: 44px;
  transition: all 0.3s ease 0s;
}
nav #desktop-nav .sub-menu a:hover {
  background: #f5f5f5;
  border-radius: 4px;
}
nav #desktop-nav .sub-menu a img {
  top: 0;
  left: 0;
  width: 40px;
  position: absolute;
}
nav #desktop-nav .sub-menu span[class*=-description] {
  display: flex;
  width: 100%;
  font-weight: normal;
}
nav #mobile-nav {
  z-index: 10;
  top: 70px;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #FFFFFF;
  overflow-y: auto;
  padding-bottom: 200px;
}
nav #mobile-nav.active {
  display: block;
}
nav #mobile-nav a {
  text-decoration: none;
}
nav #mobile-nav #buttons {
  width: 100%;
  bottom: 0;
  z-index: 99;
  position: fixed;
  padding: 0 10px;
  background: #FFFFFF;
}
nav #mobile-nav .button {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
nav #mobile-nav .button.blue {
  color: #FFFFFF;
}
nav #mobile-nav .button.white {
  color: #4F51FD;
}
nav #mobile-nav .main-menu {
  overflow: hidden;
}
nav #mobile-nav .main-menu li > a:first-child {
  display: none;
}
nav #mobile-nav label {
  display: block;
  position: relative;
  border-bottom: 1px solid #CDD6E0;
}
nav #mobile-nav label svg {
  z-index: 10;
  width: 20px;
  height: 20px;
  margin: auto;
  right: 10px;
  left: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
}
nav #mobile-nav label a {
  width: 80%;
  display: block;
  color: #1A1C1E;
  position: relative;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 24px 16px;
}
nav #mobile-nav .sub-menu {
  padding: 20px 0;
}
nav #mobile-nav .sub-menu p {
  padding: 0;
}
nav #mobile-nav .sub-menu img {
  top: 12px;
  left: 0;
  width: 40px;
  position: absolute;
}
nav #mobile-nav .sub-menu li {
  padding: 10px 0;
  position: relative;
}
nav #mobile-nav .sub-menu li > a {
  color: #000;
  display: block !important;
  margin-left: 60px;
}
nav #mobile-nav .sub-menu span[class*=-description] {
  display: block;
  font-size: 0.875em;
  font-weight: normal;
}
nav #mobile-nav .sub-menu span[class*=-description] > p:first-child {
  font-weight: 600;
}
nav #mobile-nav .toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
nav #mobile-nav .content-to-show-hide {
  display: none;
}
nav #mobile-nav .toggle:checked ~ .content-to-show-hide {
  display: block;
}
nav #mobile-nav .toggle:checked ~ label svg {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
@media screen and (max-width: 1230px) {
  nav > .button {
    display: none;
  }
}
nav .hamburger-icon,
nav .icon-user {
  z-index: 99;
  position: relative;
}
nav .icon-user {
  color: #CDD6E0;
}
nav .icon-menu {
  display: none;
  color: #FFFFFF;
}
@media screen and (max-width: 1230px) {
  nav .icon-menu {
    display: block;
  }
}
nav .icon-menu input[type=checkbox] {
  display: none;
}
nav .hamburger-icon span {
  display: block;
  height: 3px;
  width: 25px;
  background: #FFFFFF;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg); /* Move down and rotate */
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(2) {
  opacity: 0; /* Hide middle line */
}
nav .hidden-checkbox:checked + .hamburger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); /* Move up and rotate */
}

/*
* Global
* 09.19.20 last modified - carl
*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold*/
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow*/
  -webkit-overflow-scrolling: touch;
}

html {
  line-height: 1.5;
  font-size: 16px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  color: #000;
  line-height: 1.5;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text],
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=search],
input[type=submit],
input[type=email] {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
input[type=text]::-webkit-input-placeholder,
input[type=button]::-webkit-input-placeholder,
input[type=checkbox]::-webkit-input-placeholder,
input[type=radio]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=submit]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1A1C1E;
}
input[type=text]::-moz-placeholder,
input[type=button]::-moz-placeholder,
input[type=checkbox]::-moz-placeholder,
input[type=radio]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=submit]::-moz-placeholder,
input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #1A1C1E;
}
input[type=text]:-ms-input-placeholder,
input[type=button]:-ms-input-placeholder,
input[type=checkbox]:-ms-input-placeholder,
input[type=radio]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=submit]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #1A1C1E;
}
input[type=text]:-moz-placeholder,
input[type=button]:-moz-placeholder,
input[type=checkbox]:-moz-placeholder,
input[type=radio]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=submit]:-moz-placeholder,
input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #1A1C1E;
}

input[type=text],
input[type=email],
input[type=search] {
  width: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 4em; /* 60 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 2.5em; /* 40 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-size: 1.5em; /* 32 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 1.5em; /* 24 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-size: 1.25em; /* 20 px */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

S h6 {
  font-size: 0.875em; /* 18 px */
}

.fine-print {
  font-size: 1.125em; /* 14 px */
}

p {
  font-size: 1em;
  padding-bottom: 10px;
}

span[Class*=icon-] {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1320px;
}
@media screen and (max-width: 1023px) {
  .container {
    padding: 0 16px;
  }
}

/*# sourceMappingURL=global.css.map */
