@import '../../../../assets/css/_tools/variable';
@import '../../../../assets/css/_tools/mixins';

#key-features{
    margin-bottom: $gap80;
}

#key-features.cards {
    .heading {
      margin-bottom: 0;
    }
}