@import "variable";
@import "mixins";

.button{
    margin: 0;
    border: 0;
    text-align: center;
    display: inline;
    cursor: pointer;
    font-size: $fsize14;
    font-weight: $fSemiBold;
    border-radius: $corners4;
    font-family: $default-font;
    padding: $base-fsize - 7 $base-fsize;
    text-decoration: none;
    

    &.blue{
        color: $white;
        background: $blue300;
        border: 1px solid $blue300;
        @include transition-fade(0.3);
        &:hover{
            background: $blue200;
        }
    }

    &.white{
        color: $blue300;
        background: $white;
        border: 1px solid $blue300;
        @include transition-fade(0.3);
        &:hover{
            background: $blue50;
            
        }
    }

    &.readmore{
        color: $gray300;
        font-size: $fsize14;
        font-weight: $fSemiBold;
        border: 1px solid $gray75;
    }

    &.outline{
        display: block;
        padding: $gap10 0;
        border: 1px solid $blue75;
    }

}

.gcheck-submit-btn{
    color: $white;
    background: $blue300;
    border-radius: $corners4;
    border: 1px solid $blue300;
    @include transition-fade(0.3);
    
    &:hover:not(:disabled) {
        background: $blue200;
        box-shadow: none;
    }
}