<<<<<<< HEAD

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/

$gap8                   : 8px;
$gap10                  : 10px;
$gap16                  : 16px;
$gap20                  : 20px;
$gap24                  : 24px;
$gap30                  : 30px;
$gap40                  : 40px;
$gap44                  : 44px;
$gap50                  : 50px;
$gap60                  : 60px;
$gap80                  : 80px;
$gap100                 : 100px;
$gap120                 : 120px;
$gap200                 : 200px;

$corners4               : 4px;
$corners8               : 8px;

$tablet                 : 1023px;
$custom                 : 1230px;
$mobile                 : 767px;

$black                  : #000000;
$white                  : #FFFFFF;
$white75                : #f5f5f5;
$white50                : #f9f9f9; 

$gray75                 : #CDD6E0;
$gray75                 : #CDD6E0;
$gray100                : #777E8C;
$gray300                : #1A1C1E;

$blue10                 : #EDEEFF;
$blue50                 : #F2F3FF;
$blue200                : #6D6FFD;
$blue300                : #4F51FD;
$blue500                : #30319A;
$blue600                : #282981;
$darkblue               : #00014F;

$yellow75               : #FEEBB6;
$cyan                   : #3FC5FD;
$green300               : #5DC567;
$pink                   : #D20DF5;
$orange                 : #FF4D00;
$red                    : #CC2900;
$red300                 : #CC2900;

$lineColor              :#4B4C96;



$base-fsize             : 16px;     /* base */
$fsize12                : 0.75em;  /* 12 px */
$fsize14                : 14px;     /* 14 px */
$fsize18                : 1.125em; /* 18 px*/
$fsize20                : 1.25em;   /* 20 px */
$fsize24                : 1.5em;    /* 24 px */
$fsize28                : 1.75em;   /* 28 px */
$fsize32                : 2em;      /* 32 px */
$fsize40                : 2.5em;    /* 40 px */
$fsize48                : 3em;      /* 48 px */
$fsize56                : 3.5em;    /* 56 px */
$fsize64                : 4em;      /* 64 px */

$default-font           : "Inter", sans-serif;
$fThin                   : 100;
$fExtraLight             : 200;
$fLight                  : 300;
$fRegular                : 400;
$fMedium                 : 500;
$fSemiBold               : 600;
$fBold                   : 700;
$fExtraBold              : 800;
$fBlack                  : 990;


=======

/*
* Template variables and Revised Article
* Last update of 05.19.25
*/

$gap8                   : 8px;
$gap10                  : 10px;
$gap16                  : 16px;
$gap20                  : 20px;
$gap24                  : 24px;
$gap30                  : 30px;
$gap40                  : 40px;
$gap44                  : 44px;
$gap50                  : 50px;
$gap60                  : 60px;
$gap80                  : 80px;
$gap100                 : 100px;
$gap120                 : 120px;
$gap200                 : 200px;

$corners4               : 4px;
$corners8               : 8px;

$tablet                 : 1023px;
$custom                 : 1230px;
$mobile                 : 767px;

$black                  : #000000;
$white                  : #FFFFFF;
$white75                : #f5f5f5;
$white50                : #f9f9f9; 

$gray50                 : #f5f5f5;
$gray75                 : #CDD6E0;
$gray100                : #777E8C;
$gray300                : #1A1C1E;

$blue10                 : #EDEEFF;
$blue50                 : #F2F3FF;
$blue200                : #6D6FFD;
$blue300                : #4F51FD;
$blue500                : #30319A;
$blue600                : #282981;
$darkblue               : #00014F;

$yellow75               : #FEEBB6;
$cyan                   : #3FC5FD;
$green300               : #5DC567;
$pink                   : #D20DF5;
$orange                 : #FF4D00;
$red                    : #CC2900;
$red300                 : #CC2900;

$lineColor              :#4B4C96;



$base-fsize             : 16px;     /* base */
$fsize12                : 0.75em;  /* 12 px */
$fsize14                : 14px;     /* 14 px */
$fsize18                : 1.125em; /* 18 px*/
$fsize20                : 1.25em;   /* 20 px */
$fsize24                : 24px;    /* 24 px 1.5em*/
$fsize28                : 1.75em;   /* 28 px */
$fsize32                : 2em;      /* 32 px */
$fsize40                : 2.5em;    /* 40 px */
$fsize48                : 3em;      /* 48 px */
$fsize56                : 3.5em;    /* 56 px */
$fsize64                : 4em;      /* 64 px */

$default-font           : "Inter", sans-serif;
$fThin                   : 100;
$fExtraLight             : 200;
$fLight                  : 300;
$fRegular                : 400;
$fMedium                 : 500;
$fSemiBold               : 600;
$fBold                   : 700;
$fExtraBold              : 800;
$fBlack                  : 990;


>>>>>>> main
