
/*
* Template variables and Revised Article
* Last update of 05.19.25
*/

$gap                    : 10px;
$widgetgap              : 100px;
$corners                 : 4px;

$tablet                 : 1023px;
$custom                 : 1166px;
$mobile                 : 767px;

$Black                  : #000;
$white                  : #FFFFFF;
$white50                : #f9f9f9;

$gray75                 : #CDD6E0;
$gray100                : #777E8C;
$gray300                : #1A1C1E;

$blue50                 : #F2F3FF;
$blue200                : #6D6FFD;
$blue300                : #4F51FD;
$blue500                : #30319A;
$darkblue               : #00014F;

$yellow75               : #FEEBB6;
$mint                   : #3FC5FD;
$green300               : #5DC567;
$pink                   : #D20DF5;
$orange                 : #FF4D00;
$red                    : #CC2900;



$base-fsize             : 16px;
$fsize18                : 1.125rem; /* 18 px*/
$fsize14                : 0.875em; /* 14 px */
$default-font           : "Inter", sans-serif;
$fThin                   : 100;
$fExtraLight             : 200;
$fLight                  : 300;
$fRegular                : 400;
$fMedium                 : 500;
$fSemiBold               : 600;
$fBold                   : 700;
$fExtraBold              : 800;
$fBlack                  : 990;


