@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

#faq{
    margin-bottom: $gap120;
    h4{
        margin: 0;
    }
    &.cards p{
        font-size: $base-fsize;        
    }
    
}