@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

#faq{
    margin-bottom: $gap120;
    h4{
        margin: 0;
    }
    &.cards p{
        font-size: $base-fsize;        
    }

    ul li{
        &:before{
            content:"";
            height: 14px;
            width: 14px;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231f1f1f"><path d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z"/></svg>');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    
    
}