@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';


.banner{
    padding: $gap40 0;
    .photo{
        width: 528px;
    }
    ul{
        padding: 0;
        margin-top: $gap40;

        @include media($mobile){
            margin-top: $gap24;;
        }
        li{
            gap: $gap8;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;            
            padding-bottom: $gap16;
            &>span:first-child{
                    height: 20px;
                    width: 20px;
                    display: block;
                &:last-child{
                    flex: 1;
                }
            }
        }
     
    }

    @include media(1320px){
        padding: $gap40 $gap16;
    }

    @include media($mobile){
        padding: $gap80 0;
        width: 370px;
        margin: 0 auto;
    }

    &.img-left{
        &>.container{
             [class*="-info"]{
                order: 2;
            }
            span{
                order: 1;                
            }
        }
    }

    &.img-right{
        &>.container{
             [class*="-info"]{
                order: 1;
            }
            span{
                order: 2;                
            }
        }
    }

    &.full{
        display: flex;
        margin: $gap80 0;
        flex-direction: row;
        background: $darkblue;
        color: $white !important;
        color: $gray75 !important;

        @include media(1410px){
            flex-direction: column;

            .banner-info{
                margin: $gap80 0;
            }
        }

        @include media($mobile){
            width: 100%;
            &>span{
                display: none;
            }
        }

        h2{
            color: $white !important;
        }

        &>div,
        &>span{
            flex: 1;
            max-width: 100%;
        }

        img{
            width: 100%;
        }

        strong{
            font-weight: $fSemiBold;
            
            &.txtcyan{
                color: $cyan;
                display: block;
                margin: $gap40 0;
                font-weight: $fSemiBold;
            }
        }
        
        ul{
            margin: 0;
            font-size: $fsize14;
        }

        .buttons{
            p{
                font-size: $fsize14;
            }
        }
        
    }

    &.option3{
        
        &>.container{
            flex-wrap: nowrap;
             @include media($tablet){
                    flex-wrap: wrap;
                }
            [class*=-info]{
                flex:auto;
                width: 673px;
            }
            .photo{
                width: 647px;

                 @include media(1320px){
                    width: 100%;
                    
                 }
               
            }
        }
    }

    &.option4{
        &>.container{
            background: #1A0912;
        }        
    }

    &>.container{
        padding: 0;
        color: $white;
        overflow: hidden;
        background: $gray300;
        border-radius: $corners8;

        display: flex;
        flex-wrap: nowrap;
        
        @include media($tablet){
            flex-wrap: wrap;
            [class*="-info"]{
                order: 2 !important;
                width: 100%;
                flex: none;
            }
            span{
                order: 1 !important;
                width: 100%;
            }
        }
        
    }

    [class*="-info"]{
        flex: 1;
        display: flex;
        padding: $gap40;
        align-items: center;
        position: relative;
        
        @include media($tablet){
            flex-wrap: wrap;
            padding: $gap20;
            [class*="-info"]{
                order: 2;
                width: 100%;
                flex: none;
            }           
        }

        &>em{
            z-index: 1;
            bottom: 0;
            right: $gap80 + 2;
            position: absolute;
        }

        &>div{
            display: block;            
        }

        .buttons{
            z-index: 10;
            gap: $gap10;
            display: flex;
            flex-wrap: wrap;
            margin-top: $gap50;
            position: relative;

            @include media(1320px){
                margin-top: 0;
            }

            @include media($mobile){
                margin-top: $gap20;
                &>a{
                    width: 100%;
                    display: block;
                }
            }
        }

        h2{
            color: $cyan;
            font-size: $fsize40;
            padding-bottom: $gap24;
            line-height: 120%;
            @include media($mobile){
                font-size: $fsize32;
            }
        }
    }

    span{
        max-width: 673px;
        @include media(1320px){
            max-width: 50%;
        }
         @include media($tablet){
            order: 1;
            max-width: 100%;   
        }
    }

    h3{
        margin-top: $gap40;
    }

}