@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

.cards{
    color: $gray300;
    margin-bottom: $gap60;
    @include media($mobile){
        margin: 0 auto;
        
    }

    &>.container{
       padding: 0;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-cont{
        gap: $gap40;
        display: flex;
        flex-wrap: wrap;

        @include media(1311px){
            padding: 0 $gap16;
        }

        &>div{
            padding: $gap20;
            background: $white;
            border-radius: $corners8;
            @include media($mobile){
                padding: $gap20;
            }
        }

        &.cols2{
            &>div{
                width: 48.4%;
            }
        }

        &.cols3{
            &>div{
                width: 31.3%;
            }
        }

        &.cols4{
            &>div{
                width: 22.7%;
            }
        }
        
        &.cols5{
            &>div{
                width: 17.5%;
                @include media($tablet){
                    width: 47.1%;
                }
            }
        }

        &.cols2,
        &.cols3,
        &.cols4{
            &>div{
                @include media(1311px){
                    width: 47.2%;
                }
                @include media($mobile){
                    width: 100%;
                }
            }
        }
        
    }

    h4{
        gap: $gap24;
        display: flex;
        align-items: flex-start;
        margin-bottom: $gap24;
        // align-items: center;
        margin-bottom: $gap10;

        p{
            font-size: 24px;
            line-height: normal;
        }
        
        &>span:first-child{
            flex: 1;
        }

        @include media(1311px){
            br{
                display: none;
            }
        }
    }

    p{
        font-size: $fsize14;
    }

    &.top-icon{
        .heading {
            margin-bottom: 0;
        }
        h4{
            flex-direction: column;
            &>span:first-child{
                order: 2;
            }
            &>span:last-child{
                order: 1;
            }
        }

    }

    &.right-icon{
        .heading {
            margin-bottom: 0;
        }
        h4{
            flex-direction: row;
            align-items: center;
            &>span:first-child{
                order: 1;
            }
            &>span:last-child{
                order: 2;
            }
        }
    }

    &.left-icon{
        .heading{
            margin-bottom: 0;
        }
        h4{
            flex-direction: row;
            align-items: center;
            &>span:first-child{
                order: 2;
            }
            &>span:last-child{
                order: 1;
            }
        }
    }

    &.no-icon{
        h4{
            &>span:last-child{
                display: none;
            }
        }
    }

    &.image{
    

        .card-cont{
            &>div{
                padding: 0;
                height: 100%;
            }
        }

        h5{
            margin-bottom: $gap10;
        }

        .desc{
            display: block;
            padding: $gap20;
        }
    }
    
    .stat{
        font-size: $fsize30;
        color: $blue300;
    }

    .step-duration{
        padding: 10px;
        display: block;
        margin-top: 10px;
        text-align: center;
        background: $blue10;
    }
}