@import '../../../../assets/css/_tools/variable';
@import '../../../../assets/css/_tools/mixins';

#hiring{

    .cols{
        gap: $gap40;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        @include media($mobile){
            display: block;
        }

        &>div{
            padding: 0;
            margin: 0;    
        }
        &.cols2{
            &>div{
                flex: 1;            
            } 
        }
        
    }
    
    h4{
        font-weight:$fRegular;
        margin-bottom: $gap40;
        
        @include media($mobile){
            text-align: center;
        }
    }

    strong{
        color:$red300;
    }

    .boxes{
        gap: $gap16;
        color: $white;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0;

        @include media($mobile){
            margin-bottom: $gap16;
        }

        &>.box{
            flex: 1;
            color: $gray300;
            padding: $gap20;
            background: $gray75;
            border-radius: $corners8;

            display: flex;
            gap: $gap24;
            align-items: center;

            &::before{
                display: none;
            }

            span{
                width: 56px;
                height: 56px;
                display: block;
            }
            p{
                flex: 1;
                margin: 0;
                padding: 0;                
            }
            
        }
    }

    .black-box,
    .gray-box,
    .blue-box{
        border-radius: $corners8;
        padding: $gap20;

        h4{
           margin: 0;
           padding-bottom: $gap16;
        }
    }
    
    .gray-box{
        background: $gray75;
        margin-bottom: $gap16;
    }

    .black-box{
        color: $white;
        background: $black;
        margin-bottom: $gap16;
    }

    .blue-box{
        color: $white;
        background: $blue500;

        h4{
            color: $cyan;
        }
        ul{
            margin: 0;
            padding: 0 $gap20;
        }
        li{
            list-style: disc outside;
            padding-bottom: $gap16;
            padding-left: 0;
            &:before{
                display: none;
            }
        }
    }

    
}