@import '../../../assets/css/_tools/variable';
@import '../../../assets/css/_tools/mixins';

/* Stats Grid */
.stats-grid {
  padding: $gap100 0;

  &--cards-ungated {
    padding: 0 0 $gap100 0;

    @include media($tablet) {
      padding: 0 $gap20;
    }
  }

  @include media($tablet) {
    &:not(.stats-grid--cards-ungated) {
      padding: $gap60 $gap20;
    }
  }

  @include media($mobile) {
    padding: 0 $gap20 $gap40;
  }

  &__container,
  & > .container {
    max-width: 1120px;
    padding: 0;
  }

  &__title {
    margin-bottom: $gap24;
    font-size: $base-fsize;
    line-height: 1.5;
    color: $gray300;
  }

  &__cards {
    display: grid;
    gap: $gap24;

    &--cols-1 {
      grid-template-columns: 1fr;
    }
    &--cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &--cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &--cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media($tablet) {
      &--cols-2,
      &--cols-3,
      &--cols-4 {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include media($mobile) {
      grid-template-columns: 1fr;
      gap: $gap20;

      &--cols-2,
      &--cols-3,
      &--cols-4 {
        grid-template-columns: 1fr;
      }
    }
  }

  &__card {
    &--intro {
      .stats-grid__card-inner--intro {
        height: 100%;
        background-color: $gray100;
        padding: $gap20;
        display: flex;
        flex-direction: column;
        border-radius: $corners8;
        gap: $gap16;

        p {
          padding: 0;
        }

        &:has(.has-arrow-below) {
          background-color: $gray75;
        }

        img,
        svg {
          max-width: 48px;
          max-height: 48px;
        }

        .stats-grid__intro-arrow {
          display: none;
          align-self: flex-end;
        }

        &:has(.has-arrow-below) .stats-grid__intro-arrow {
          display: block;
        }

        p {
          font-size: $fsize40;
          font-weight: $fSemiBold;
          line-height: 1.5;

          @include media($mobile) {
            font-size: $fsize32;
          }
        }
      }
    }

    &--stat {
      .stats-grid__card-inner--stat {
        background: $white;
        padding: $gap20;
        border-radius: $corners8;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap16;
      }

      .stats-grid__card-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      .stats-grid__card-title {
        font-size: $fsize40;
        font-weight: $fBold;

        p {
          padding: 0;
        }

        @include media($mobile) {
          font-size: $fsize32;
        }
      }

      .stats-grid__card-details {
        font-size: $fsize14;

        p {
          padding: 0;
        }
      }
    }
  }

  &__footer {
    margin-top: $gap24;
    text-align: center;
    font-size: $fsize14;
    font-style: italic;
  }
}
