@import '../_tools/variable'; 
@import '../_tools/mixins'; 


body.blog{

  .cols{
        gap: $gap40;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        @include media($mobile){
            display: block;
        }

        &>div{
            padding: 0;
            margin: 0;    
        }
        &.cols2{
            &>div{
                flex: 1;            
            } 
        }
        
    }

  .cards img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

}